[2020-12-27 20:43] Annoraaq opened #3 "add random movement"

[2020-12-29 17:06] #3 closed

[2020-12-30 13:48] Annoraaq opened #5 "add radius movement"

[2020-12-30 19:00] #5 closed

[2020-12-31 12:45] Annoraaq opened #7 "add step size to random movement"

[2020-12-31 14:58] #7 closed

[2021-01-15 04:39] borkowsky opened #9 "Adding players on the go"
Hi. Can i add more players when they r appeared at current location? I want create realtime rpg

[2021-01-15 14:58] Annoraaq opened #10 "add "move to" movement"

[2021-01-16 18:56] #10 closed

[2021-01-16 19:11] Annoraaq commented on #9
Hey borkowsky, It is not yet possible in a non-hacky way. But I think it would be really useful. I will make sure this issue get implemented and released asap.

[2021-01-17 12:02] #9 closed

[2021-01-17 12:04] Annoraaq commented on #9
Merged this to master. I will add some minor error reporting functionality to the plugin and create a new release.

[2021-01-17 12:22] Annoraaq opened #12 "Improve Error Handling"

[2021-01-17 12:26] Annoraaq opened #13 "Remove characters"

[2021-01-17 13:10] #12 closed

[2021-01-17 13:35] #13 closed

[2021-01-17 13:45] Annoraaq commented on #9
You can now find a new version (1.2.0) online on npm.

@borkowsky I am interested in your project. So if you like, let me know about it. And please keep giving me feedback about the plugin so I know which features are needed most.

[2021-01-17 13:49] borkowsky commented on #9
Hi, sure. My project in development now, i will upload in months. Thank you for make it for us

[2021-01-18 06:58] Annoraaq opened #14 "Char is not removed from GridTilemap"
A removeCharacter() call does not remove the char from the GridTilemap

[2021-01-18 17:20] #14 closed

[2021-01-19 15:27] Annoraaq opened #15 "add radius movement gif to readme"

[2021-01-19 15:35] leungandrew opened #16 "Typescript"
Hi there!

Looking to try out your plugin into a Typescript project.  Would be great if you can expose type declarations along with your package!

[code]

[2021-01-19 15:42] #15 closed

[2021-01-19 15:43] Annoraaq opened #17 "add follow movement"

[2021-01-20 15:44] Annoraaq commented on #16
Hi leungandrew, I thought I was already doing this. Let me check, whats the issue.

[2021-01-20 16:09] Annoraaq commented on #16
I can reproduce the issue. Thank you for pointing it out 👍 I will fix it

[2021-01-20 16:28] Annoraaq commented on #16
Should be fixed and published as version 1.2.2

[2021-01-20 16:28] #16 closed

[2021-01-22 08:03] Annoraaq opened #20 "only deliver minified js to save space"

[2021-01-22 12:42] #20 closed

[2021-01-24 17:26] Annoraaq opened #22 "Follow: Timing problem"
When following another player there is a delay that can add up and slow down the follower. One way to avoid this is to synchronize all actions in the update  function

[2021-01-24 17:27] Annoraaq opened #23 "Follow: if no path: go to reachable point that is closest to char"

[2021-01-24 17:27] Annoraaq opened #24 "Follow: turn towards target"

[2021-01-24 18:58] tylerroost opened #26 "Player position changed when bumping into borders of tilemap"
Hello,
thank you for such a wonderfully easy plugin to use. It does everything I need and more
the only problem I have found is that when my player walks to the edge of the tilemap and collides with the border. The position of the player is updated and thus unaligns with the tilemap.
I'm sure there is a solution, but I am not familiar enough with phaser or your plugin to figure it out, my apologie

[2021-01-25 18:57] Annoraaq commented on #26
Hey @tylerroost,

thank you for the positive feedback!
I am glad that you find it useful and it is always nice to get feedback from people who use it in their projects. You are a great help to make this plugin better.

Let me take a look at the issue.

[2021-01-25 19:28] Annoraaq commented on #26
@tylerroost
I can't reproduce the issue. Can you provide more information to help me tracking it down?

i.e:

- Version of the plugin
- code that you used to initialize the plugin, including initialization of the sprites.

Thank you 🙂

[2021-01-25 19:31] tylerroost commented on #26
It may be from the fact that my tileset is 32x32, where as my player sprite is 64x64, thus there maybe half(32) tiles that allow the character to reposition.

[2021-01-25 19:32] tylerroost commented on #26
If this seems like a reasonable explanation let me know, and if you still want code I would be happy to provide

[2021-01-25 19:41] tylerroost commented on #26
Plugin version: 1.2.2
[code]

Here you can see the config for my Phaser.Game object, where the plugin is being invoked.

[code]
Here is the scene that was used in the imagery. I have attached all necessary files
[GridMovementBug.zip](https://github.com/Annoraaq/phaser-grid-movement-plugin/files/5869240/GridMovementBug.zip)

If this is insufficient to duplicate please let me know what else you need

[2021-01-26 17:16] tylerroost commented on #26
I very much appreciate it, though if I were to guess it has to do with the tilemap being nondivisible by the size of the player character. If this is in fact the cause I'm guessing a simple check against the divisible boundaries of the tilemap could lead to a solution.

[2021-01-26 17:31] Annoraaq commented on #26
I assumed the same first. But it had nothing to do with it. Only the tile size of the map is important. However, I think I found the issue:

The problem is this part of your code: `this.player.setCollideWorldBounds(true);`

It enables the collision of the arcade physic engine. So this means the sprite will collide with the boundaries of your map on a per-pixel level. I recommend to just delete thi

[2021-01-26 17:40] Annoraaq opened #27 "update readme with hint about disabling collision of arcade physics"

[2021-01-26 17:41] #17 closed

[2021-01-26 17:41] tylerroost commented on #26
O god how could I have missed that. I'll look into it, and get back to you.

[2021-01-27 19:09] #27 closed

[2021-01-30 13:43] #22 closed

[2021-01-31 13:46] #23 closed

[2021-01-31 14:38] #24 closed

[2021-01-31 19:09] awweather opened #31 "Can this work when using a multi atlas for the player sprite?"
Or does it only work with a single tilesheet?

[2021-01-31 22:45] awweather commented on #31
I love the plugin by the way, I've been searching for something like this for a long time!
I'm assuming the api requires characterIndex to handle the animations, but I don't know how/if that works with a multi-atlas created uses TexturePacker.

[2021-02-01 17:55] Annoraaq commented on #31
Hey @awweather,

I am happy that you like the plugin. I am thankful for any feedback because this gives me a better idea about the most common use cases.

Regarding your question. The characterIndex is the index of the character in a sprite sheet. The following image shows a sprite sheet with multiple characters. The plugin assumes each char frame to be equal in size and arranged as you see in the

[2021-02-01 21:02] awweather commented on #31
Correct - When using a multi atlas sprite, you can generate "keys" that can be used to play a certain animation.
Here's a snippet from my code - it would be nice if I could give the plugin which animations to play for each direction, or something like that.

![image](https://user-images.githubusercontent.com/19537970/106517439-7d08a780-64a6-11eb-9816-1b2f35aba6e7.png)

I'll preface this with the f

[2021-02-02 14:15] Annoraaq commented on #31
The plugin is constructed in a way, that you don't need to pass any animations. It will animate the walking player itself. The reason for this is that the speed of the animation depends on the speed of the player on the tilemap. One tile is one "step". One "step" means moving one leg forth and back. The legs are moved in alternating order. So if last tile the right leg was movent the left one will

[2021-02-02 14:34] Annoraaq commented on #31
Another solution would be to let you disable the walking animation of the plugin, so that you have complete freedom with your  animations.

[2021-02-02 14:35] Annoraaq commented on #26
@tylerroost can you already give me any feedback whether the issue is resolved?

[2021-02-02 15:18] tylerroost commented on #26
My apologies, Ive been swamped with work for school and have an interview on Friday, I should have some free time this weekend. I will schedule in time on Saturday. But based on your analysis, I would say your conclusion is fairly accurate. Like you said the plugin detects collision with the world boundary by default.

I just did some further research and I don't know if this is relevant, but it a

[2021-02-02 16:03] awweather commented on #31
I think I see what you're saying.

Are you familiar with TexturePacker?  With a multi-atlas, you have a json file that defines the frames of a sprite, rather than using the index of a spritesheet as the frames.  For example, I have 3 frames for walking down in my walk_down animation which looks like this json below.

` "frames": [
        {
          "filename": "walk_down/Sprite_claudius_walk_02.

[2021-02-02 17:20] Annoraaq commented on #26
No problem. Don't rush.

Thank you for the detailed answer. I agree with you that it may be misleading for many users that the setCollideWorldBounds property has not the desired effect when using the plugin.

I think I will try to turn it off in the plugin by default (or find a different way of ignoring it). If some users need to turn it back on (for whatever reason) I can still add a configuratio

[2021-02-02 17:44] Annoraaq commented on #31
I am not familiar with TexturePacker but I will take a look at it and the phaser integration to make it more compatible with this plugin.

I see 3 possible solutions to make your sprite work with the plugin:

1. (more like a workaround) You could change the format of the png and load it as a spritesheet.

2. I add a config flag to turn off walking animations and you can deal with this outside of t

[2021-02-02 17:45] Annoraaq opened #32 "ignore collideWorldBounds"

[2021-02-02 17:46] Annoraaq opened #33 "Add custom mapping of animation frames"
Todo:

- [x] when using moveTo, keep movementStopped observable from firing after every tile
- [x] update readme with observables

[2021-02-02 17:46] Annoraaq opened #34 "Allow changing speed on the go"

[2021-02-02 17:51] tylerroost commented on #26
Sounds good, thank you for considering my request.

[2021-02-02 18:34] Annoraaq commented on #26
I looked a bit into it and thought more about it. I am not sure anymore if this is the correct way to go for the following reasons:

The property only exists on arcade physics objects. I think in most cases mixing up arcade physics with grid physics is a bad idea. Even if I check for this property and disable it, all the other behavior that comes with arcade physics would still be in place (for in

[2021-02-02 18:52] tylerroost commented on #26
Hmm, it does seem quite hacky as you described it, I need to do more research to determine the nature of my sprite. I will add it to my list of things to do this weekend.

[2021-02-02 19:18] awweather commented on #31
I'm suggesting mainly because I knowing using multi-atlas in this way is pretty common in phaser, and I haven't found another plugin that does what this does (at least one that was easily usable).

For your #3 - I am still on the train of letting the user pass you in animation keys..something like this, what do you think?
![image](https://user-images.githubusercontent.com/19537970/106650811-58bdd1

[2021-02-02 20:11] Annoraaq commented on #31
There are mainly two reasons why I did move away from using animations for the plugin:

1. The animation is time controlled. Means that the animation has a speed in frames/second. But in a tile-based movement it looks weird if the movement is not aligned with the tiles. It looks smoother if the state of the animation is exactly aligned with the position of the player. This is why I consider it so

[2021-02-02 21:11] awweather commented on #31
That makes a lot of sense now that I've thought about it.  I did switch from time-based to tile based (with your plugin), so my animation technique might be a bit stale in that regard.  I'm not totally attached to this spritesheet either - so I may end up replacing it down the line.  But I do think there's some value there in offering that flexibility!

[2021-02-03 06:57] Annoraaq commented on #31
I will work on point 2 and 3 and let you know as soon as you can try it out. Thank you for your help. At first I will implement the possibility to provide a custom frame mapping. As a next step I will enable passing animation keys. Then you can find out for yourself which animation you like better.

[2021-02-03 18:20] #32 closed

[2021-02-04 08:59] #34 closed

[2021-02-05 07:13] Annoraaq opened #35 "z-index issue with tall chars"

[2021-02-05 15:38] Annoraaq opened #36 "examples use same min code"

[2021-02-07 17:26] Annoraaq commented on #31
Hey @awweather,

please check out this branch: https://github.com/Annoraaq/phaser-grid-movement-plugin/tree/feature/%2333-custom-anim-mapping. If you check the examples folder there, you will see 2 examples:

1. custom-walking-animation-mapping
This demonstrates how you can use the build-in animation logic of the plugin by providing a custom frame mapping.

2. custom-walking-animation
This is the

[2021-02-07 19:31] awweather commented on #31
@Annoraaq Thanks for the quick turn around! I'll give it a shot and let you know what I think.

[2021-02-07 19:47] awweather commented on #31
@Annoraaq On the surface it looks like this should do what I need!  I can subscribe to the different movement events and play my own animation based on the direction.

Question on the example below..
What is walkingAnimationMapping?

![image](https://user-images.githubusercontent.com/19537970/107157631-22ae9180-6953-11eb-9be9-cb85c586df9a.png)

[2021-02-07 19:51] Annoraaq commented on #31
It replaced the characterIndex. When passing a number it is the character index. Otherwise it expects an animation mapping object.

You can still use characterIndex though (to be backwards compatible). It should also be updated in the readme. Only the observables are missing in there, yet.

[2021-02-07 19:52] Annoraaq commented on #31
But actually it is not needed in the example. I should correct that.

[2021-02-07 21:06] awweather commented on #31
Oh that makes sense, sorry.

I use the npm version so I'm not sure if there's an easy way to test it in my implementation before you merge it, but as far as I can tell this does everything I need.

I would just subscribe to these three observables for each of the characters I have on the screen, and then I can control their animations from there.

[2021-02-08 12:06] Annoraaq commented on #31
In case you are using the npm version and just want to try it out, the simplest (but quite hacky) way is to navigate to your `node_modules/phaser-grid-movement-plugin/dist` directory and replace the `GridMovementPlugin.min.js` file by the one found on the branch in the `dist`  directory.

Just be aware that it might be overwritten if you run `npm install` again

If you still run into any errors th

[2021-02-08 14:08] awweather commented on #31
@Annoraaq Wasn't sure if that would work :D I'll give that a try today and let you know how it works.

[2021-02-08 21:33] awweather commented on #31
@Annoraaq In my testing, the subscription to movementStopped doesn't work as I'd expect.  The direction seems to always match whatever is passed back into movementStarted.  I would expect that movementStopped would get called with the "none" direction, or if it was called once the character was no longer moving. But that is not what I am seeing.

![image](https://user-images.githubusercontent.com/

[2021-02-08 21:36] awweather commented on #31
Is movement stopped called at the end of every step?

[2021-02-09 10:11] Annoraaq commented on #31
@awweather

Regarding your first question: the movement stopped observable always provides the direction of the movement that was stopped. For example if the player was moving DOWN and stoppend, movementStopped will provide direction 'down'. The reason is that you might need that information (as in my example) to provide the correct stopping animation. It is never called with direction 'none'.

To

[2021-02-09 10:15] Annoraaq opened #37 "Add 'closestToTarget' option for moveTo()"

[2021-02-09 13:43] awweather commented on #31
@Annoraaq  Thanks for the clarification.

I do indeed use MoveTo to move the player.  Everything actually works pretty smoothly using the movementStarted observable.  I can click on a tile and my animation plays correctly.  It's just when I was trying to use movementStopped, it introduced some weird behavior.

[2021-02-09 13:45] Annoraaq commented on #31
Ok good to know. It should not be a problem to fix this. This behavior was not intended.

I will let you know as soon as I fixed it.

Thank you for testing and helping!

[2021-02-09 20:09] Annoraaq commented on #31
@awweather I just pushed a fix to the branch. If you replace it in your node_modules again it should work.

[2021-02-09 22:03] awweather commented on #31
@Annoraaq works great! Thanks for coming up with an easy to implement solution.

https://gyazo.com/2ec96c7345374e2111b5d80ec4064b18

[2021-02-10 07:09] Annoraaq commented on #31
@awweather It's great to hear that! I will merge that branch, create a release and let you know about it, so you can just update it in your package.json.

Thanks again for your help. Btw: I am always curious to know about projects using the plugin. So feel free to share it with me if you like. I can also mention your project in the readme.

[2021-02-10 18:30] #36 closed

[2021-02-10 18:36] Annoraaq commented on #31
@awweather Version 1.4.0 is published on npm and should contain the new implementation.

If you discover new feature requests during your project, feel free to open up new issues. It is very useful to me to know what people need the most.

[2021-02-10 18:36] #33 closed

[2021-02-10 18:37] #31 closed

[2021-02-12 00:56] awweather commented on #31
@Annoraaq thank you! I'll go ahead and update.  My project isn't ready for sharing yet. but I'll let you know if there's anything specific I need related to the plugin.  I'm building a 2d multiplayer rpg and its awesome to have something like this to handle the tile based movement on the client side.

[2021-02-13 14:50] borkowsky opened #39 "Moving functions return undefined"
Moving functions return undefined

[2021-02-13 17:41] Annoraaq commented on #39
Hi @borkowsky, I assume you mean that the `moveLeft`, `moveRight`, etc. methods?
They always return undefined on purpose.
What do you suggest them to return instead?

[2021-02-13 17:43] borkowsky commented on #39
Maybe return new position?

[2021-02-13 18:20] Annoraaq commented on #39
The problem is, that they are not synchronous methods. You can see them more as a "fire and forget" command.
A good comparison would be to see them like a keypress in a game. You can press the key as often as you want and the game will notice, but it will decide whether or not a keypress is changing the player position or not.

In this plugin it is as follows: if you take a look at the "move-playe

[2021-02-13 19:20] borkowsky commented on #39
Thanks for the answers, i just need to use getPosition method.

[2021-02-13 19:20] #39 closed

[2021-02-14 09:31] Annoraaq commented on #39
You're welcome. I am playing with the thought of adding an observable that fires on every position change. Depending on your use case that could prevent you from polling.

[2021-02-17 15:55] borkowsky opened #40 "Phaser container support"
Hi. I want suggest to add for containers support. It will be useful for character sprite with name.

[2021-02-17 18:22] Annoraaq commented on #40
That's a good suggestion and also a good use case. I haven't thought about it.

[2021-02-22 14:45] #35 closed

[2021-02-22 14:47] Annoraaq commented on #26
I hope it's ok if I close this issue for now? I think it is not a real issue with the plugin but rather a clash of settings when using arcade physics with it. If you find out how we could make it more compatible feel free to reopen this issue or create a new one with the suggestion.

[2021-02-22 14:47] #26 closed

[2021-02-27 17:03] Annoraaq commented on #40
@borkowsky I just added container support with the new release. Check out the following example as well as the updated readme. https://github.com/Annoraaq/phaser-grid-movement-plugin/blob/master/examples/container/index.html

Please note that you need to position the sprite at position (0, 0) in the container for the positioning of the player on the tiles to work correctly.

[2021-02-27 17:03] #40 closed

[2021-02-27 17:06] Annoraaq opened #43 "allow custom offset for player sprite"

[2021-02-27 17:06] borkowsky commented on #40
Im happy now, thank you 😊

[2021-02-28 14:28] Annoraaq opened #44 "add documentation library"

[2021-02-28 14:28] #44 closed

[2021-03-03 14:31] splashsky opened #46 "One-way collision detection"
Hey there! Love the project, happy to see grid based movement get the love it deserves.

One improvement I think would help significantly is Tiled custom properties support for one-way collision, i.e. I can set `collideOnly: UP` to a tile and so you can walk through it from any direction but the top.

I'll also try and look into contributing on this idea as well.

Thanks!

[2021-03-03 15:00] Annoraaq commented on #46
Hi @splashsky, thank you. It is great to hear you like the project!

I think it's a great idea. I will set it up for the next milestone 🚀

[2021-03-03 19:08] splashsky opened #48 "Event Properties with Callbacks"
Hey again!

In the game I am creating, it will be necessary to be able to know when I am interacting with certain tiles on the map. Since the plugin is the one handling collision checks and movement, I suggest a number of properties that could be super useful for map events. I'll also give a use case for each event, but these mechanics would be implemented by the game developer. I am only suggesti

[2021-03-03 19:19] splashsky commented on #48
To clarify implementation, I thought of two scenarios:

1. The property is a string with the name of the function to be called (or perhaps the name of the event for an event listener), and the developer would implement the function

2. The property is simply a bool (true/false) that would fire the name of the event for an event listener, and the developer would still implement the function

I'm no

[2021-03-04 08:04] Annoraaq commented on #48
Hi splashsky,

first of all I want to thank you for your support and all the good suggestions. It helps me a lot to know which features are demanded most.

I think it is a good idea to have more events like this. I would rather offer observables than events or callbacks. (like the `movementStarted` observable for example).

What do you think of the following suggestions:

- Instead of `onEnter` or

[2021-03-04 17:54] splashsky commented on #48
I like the idea of the observables. How would you recommend we tie tiles to certain behaviors? i.e. if I have a type of tile I want to always be a sign, or a shop. In some way, we need to streamline giving tiles behavior.

I am 100% on-board with the on-demand functions. 👍🏻

[2021-03-04 18:44] Annoraaq commented on #48
I think I now see your case. One example would be to trigger some action (like opening a shop window) whenever a user enters a "shop" tile. Is that correct?

In that case you could subscribe to our fictional `positionChanged` observable like this:

[code]

If you want to only listen to this for **one** character (for example only for the player and not for NPCs), you can also filter the observable

[2021-03-04 18:59] splashsky commented on #48
It looks excellent. I presume we could grab any tile property we wanted via this method, so it's flexible enough. Excellent work!

[2021-03-04 19:13] Annoraaq commented on #48
Thank you. I will schedule the issue for the next milestone as well. You are bringing great ideas!

Btw: Whenever you want to share your project, please do so. I think it would be great to show a list of projects created with the plugin.

[2021-03-05 18:13] Annoraaq commented on #46
Changes are merged on master and will be in 1.6.0 release.

Documentation is here:

https://github.com/Annoraaq/phaser-grid-movement-plugin/wiki/Tile-Properties

An example can be found here:
https://annoraaq.github.io/phaser-grid-movement-plugin/examples/

[2021-03-05 18:13] #46 closed

[2021-03-05 18:18] Annoraaq commented on #46
@splashsky a new version 1.6.0 is now live including the one-way collision

[2021-03-05 20:26] splashsky opened #51 "Readme updates, with labels"
Just a bunch of stylistic and English changes for the readme.md file, as well as some image labels I created for the repo. Shouldn't need to make any changes to the readme when merging, I'm pretty sure it'll work 100%

[2021-03-06 16:49] #51 closed

[2021-03-06 17:02] borkowsky opened #53 "gm_alwaysTop property bug"
Hi. I have tilemap with 3 layers: ground, misc1 and misc2. Layer **misc2** have property **gm_alwaysTop** with checked checkbox. But layer **misc1** rendered at the top of player instead of **misc2**. Layer **misc1** not have any properties.

[2021-03-06 17:13] borkowsky commented on #53
Misc1 layer parameters: https://prntscr.com/10elnwp
Misc2 layer parameters: https://prntscr.com/10ellfr
Result: https://prntscr.com/10eljn7
Road placed at misc1 layer.

[2021-03-06 17:51] Annoraaq commented on #53
Hi @borkowsky.

Thank you for reporting.

I will try to reproduce. Are you in addition using the `firstLayerAboveChar` option? (https://github.com/Annoraaq/phaser-grid-movement-plugin/wiki/Config)

I will let you know as soon as I found out something.

[2021-03-06 17:52] borkowsky commented on #53
No, i deleted this properties, because its deprecated.

[2021-03-07 10:31] Annoraaq commented on #53
Hey @borkowsky, I am not able to reproduce the bug. I created a small map with 3 layers and gave the top one the property and it works. Can you try to clean your browser cache? It caches the tilemaps.

[2021-03-07 12:00] borkowsky commented on #53
Hello. Unfortunately,  clearing browser's cache not solved the problem. I think, i need roll back to using firstLayerAboveChar property.

[2021-03-07 12:22] borkowsky commented on #53
Even firstLayerAboveChar not working...

[2021-03-07 12:38] borkowsky commented on #53
Oh god, it was my silly mistake... I add container but not let main camera to start follow him, and not add to character configuration. Im sorry.

[2021-03-07 12:38] #53 closed

[2021-03-07 15:19] Annoraaq commented on #53
No need to apologize :) I'm glad your problem is solved.

I assume the depth (z-index) did not work,  because the container was not passed to the config.

[2021-03-09 18:38] Annoraaq commented on #48
@splashsky
Published with 1.7.0 release.

There is now an observable `positionChanged()` as well as a method for getting movement state: `isMoving()`.
I also added methods for getting (`getFacingDirection()`) and setting (`turnTowards()`) the facing direction.

There are three new examples to demonstrate their usage.

[2021-03-09 18:38] #48 closed

[2021-03-11 10:05] neu5 opened #56 "'container example' link is wrong in wiki/config"
'container example' link is broken in https://github.com/Annoraaq/phaser-grid-movement-plugin/wiki/Config

[2021-03-11 12:57] Annoraaq commented on #56
Good catch! Thank you. It is fixed now 👍

[2021-03-11 12:57] #56 closed

[2021-03-11 15:25] Annoraaq opened #58 "Extend config to set facingDirection"
Add facing direction to char config

[2021-03-11 18:43] #43 closed

[2021-03-11 18:45] Annoraaq opened #62 "allow custom name for 'collides' property"
- [x] change default from 'collides' to 'gm_collides' (and keep 'collides' for backwards compatibility)

- [x] make the name of the property configurable

See: https://github.com/Annoraaq/phaser-grid-movement-plugin/discussions/60

[2021-03-11 22:31] splashsky opened #63 "Need branch for documentation update"
Hey there! I'm ready to submit a PR for the big documentation update. We're going to need a `gh-pages` branch that's empty so we can merge the site directly over. The repository should also be set up to serve the Pages site from the `gh-pages` / (root).

Will be happy to continue contributing to documentation as time goes forward, including the API documentation I'm still working on. 😄

[2021-03-11 22:34] splashsky commented on #63
As an additional note - it will no longer be required to have the `docs/` folder present in the `master` branch either. All examples, images and scripts needed for the documentation will be present in the `gh-pages` branch.

[2021-03-12 11:43] Annoraaq commented on #63
Hi splashsky, I just created that empty branch. Can you create a PR to that branch and then I will redirect gh pages to point to that branch.

[2021-03-12 17:57] splashsky opened #69 "Migrate to esbuild, clean up repo"
Hey again! Did some actually useful work on the project itself this time around! Here's the proposal, and a PR will be made to address this as well.

- The plugin is using Webpack. Webpack is powerful, and very useful, but it's bulky, slow, and requires quite a bit of config - this is evidenced by the big `webpack.config.js` that even this small project has, as well as the numerous installed plugi

[2021-03-12 18:14] splashsky opened #71 "Rebrand and refactor to GridEngine"
Man, it's a busy day!

So per the discussion #67 where Johannes agreed that GridEngine sounded cool, I decided to go ahead and try a quick and dirty refactor of the plugin. I am pleased to announce that this refactor was successful!

I was able to get the plugin renamed to GridEngine, and all API calls now use `this.gridEngine` to access. There were no compatibility issues in any of the tests I pe

[2021-03-12 18:56] #63 closed

[2021-03-12 19:07] splashsky commented on #69
On this matter it wasn't so much a "is UMD better than IIFE?" question, it was more along the lines that at this point in time `esbuild` doesn't have UMD support. The easiest workaround was to just format it as IIFE with the correct global name, and it works almost exactly the same anyway.

[2021-03-13 14:50] Annoraaq opened #72 "Add prettier"

[2021-03-13 18:24] #72 closed

[2021-03-14 12:14] #62 closed

[2021-03-14 14:52] Annoraaq opened #76 "add linter"

[2021-03-14 15:59] #76 closed

[2021-03-15 15:00] #69 closed

[2021-03-15 15:54] splashsky opened #80 "Migrate documentation from Jekyll to custom SSG"
Having a **lot** of dependency issues with keeping the current Jekyll-based documentation consistent. I'll be shifting our documentation over to [Hugo](https://gohugo.io) since it seems a lot more consistent than Jekyll.

All this means is that adding documentation might require a build step - something I might be able to automate through GitHub Actions. This is just a wip plan at the moment.

[2021-03-15 19:38] Annoraaq commented on #80
Sounds good to me. I only know jekyll and gatsby but anything is fine for me.

[2021-03-15 19:55] Annoraaq opened #82 "Support isometric maps"

[2021-03-15 20:53] splashsky commented on #82
Just as a quick note - it might be really easy to convert the top-down (orthogonal) features of the plugin to isometric - isometric is just orthogonal with a half-offset and a rotational shift to simulate being angled. There are a myriad of articles on this, but if it's not on the roadmap now that's alright.

[2021-03-16 02:23] splashsky commented on #80
Hahaha, this is a bit off topic, but this is the first JavaScript program I've ever written 🤣

Let me know if this is a terrible way to get files from a directory...
[code]

[2021-03-16 07:16] Annoraaq commented on #82
I think you are right. A rotation of the movement direction vectors should do most of the work. Then there are the tiny things that can make it a bit harder but it s probably not as big of a change as I first suspected.

[2021-03-16 09:36] Annoraaq commented on #80
Afaik fs is the way to go on node. So I think it is the right approach. Congrats to your first JS program 😁 👍

[2021-03-17 19:11] Annoraaq commented on #58
Will be in the next release

[2021-03-17 19:11] #58 closed

[2021-03-17 19:17] Annoraaq opened #85 "Pathfinding: replace bfs with bidirectional search"
Replace BFS algorithm with (faster) bidirectional search.

[2021-03-17 19:17] Annoraaq commented on #85
Replace BFS algorithm with (faster) bidirectional search.

[2021-03-18 06:43] borkowsky opened #86 "Add destroy() method"
Hi there. I want to suggest to add destroy() method to the plugin. It will be useful on such cases like restart scene (i do it and have large memory leaks) and etc. I need to clearup resources like characters data, created animations by plugin etc.

[2021-03-18 18:10] Annoraaq commented on #86
Makes sense. Will be tackled soon. Thanks for your input 👍

[2021-03-18 18:47] #37 closed

[2021-03-19 07:51] Annoraaq commented on #86
@borkowsky

I checked the code and could not find any place where the plugin is creating any resources like sprites, animations, etc.
All the resources get passed from the outside to plugin. So you need to destroy() those objects from the outside as well.

It should not be in the plugin because it can't know if you still need the resources at some other place.

I think your memory leak comes from

[2021-03-19 08:02] borkowsky commented on #86
Maybe add method to remove all characters or smth like that. I remove all chars now with forEach charData in plugin.

[2021-03-19 08:11] Annoraaq commented on #86
Were you able to resolve the memory leak by looping over all chars and removing them from the plugin?

[2021-03-19 08:22] Annoraaq commented on #86
I just ran a small experiment with the chrome memory profiler:

I repeatedly reloaded the scene with `this.scene.reload()`. On creation of the scene I created a new char sprite and added it with a random name to the plugin. The memory did not grow even with hundreds of scene reloads.

Do you call the plugins `create()` method from within the `create()` method of the scene? Because then the referen

[2021-03-19 08:23] borkowsky commented on #86
Yes, but i do some things, not only removing characters (destroy map, sprites, deattach events etc)

[2021-03-19 08:38] borkowsky commented on #86
I think this method should be helpful :)

[2021-03-20 11:33] Annoraaq commented on #86
The new methods: `getAllCharacters()` and `removeAllCharacters()` are merged to master and will be in the next release.

[2021-03-20 11:33] #86 closed

[2021-03-21 12:01] neu5 commented on #82
@Annoraaq are you going to keep top/right/down/left directions or you're planning to extend them of top-right etc. for isometric?
IMO in top-down games it's natural to move only in those four directions but in isometric it's tempting to have more freedom in the movement.

[2021-03-21 18:52] Annoraaq commented on #82
@neu5 In the first step it will only be the 4 directions.

In the future the plugin might also support more directions.

[2021-03-27 13:46] #82 closed

[2021-03-27 13:46] Annoraaq opened #90 "Support 8 directions"

[2021-03-27 13:48] Annoraaq commented on #82
@neu5 isometric map support is now available with 1.11 release.

However, it is still in beta and there might be some bugs that will only show in real situations. If you find any issues, please let us know.

[2021-03-27 13:52] Annoraaq opened #91 "Migrate full docs from Github Wiki to Github Pages"

[2021-03-27 17:34] #71 closed

[2021-03-27 17:35] Annoraaq commented on #71
@splashsky fyi: I just renamed everything. The docs, the npm package, the code and the repo. I hope I did not overlook something.

[2021-03-31 18:47] #91 closed

[2021-04-01 18:55] Annoraaq opened #93 "In movement char should block 2 tiles"
When moving the character should block the tile he comes from until he reached the next one. Otherwise weird overlapping can occur.

[2021-04-03 03:06] awweather commented on #90
Will you add diagonal support for non-isometric maps as well?

[2021-04-03 09:09] Annoraaq commented on #90
Would that be useful to you? I think it will not be too hard when it is already implemented for isometric maps.

[2021-04-04 13:12] awweather commented on #90
Yeah, I would like to be able to support omnidirectional movement if it's not too much work.

[2021-04-04 17:39] #93 closed

[2021-04-06 16:21] borkowsky opened #96 "Add move() method to docs"
Hello. Need to add **move()** method to the docs.

[2021-04-06 17:30] Annoraaq commented on #96
Absolutely 👍
Thanks four pointing out.

[2021-04-06 17:31] #96 closed

[2021-04-09 19:00] Annoraaq opened #97 "movementStarted observable fires on every tile"

[2021-04-09 19:19] #97 closed

[2021-04-10 17:46] Annoraaq opened #99 "add version to min file in docs"

[2021-04-14 11:59] bloonguyen1207 opened #102 "lt is not a function"
I installed and followed the instruction to setup grid-engine, however, when I start the game, I got this error. Do you have any recommended fix or debug solution? :) Thanks in advance.

[code]

[2021-04-15 20:35] bloonguyen1207 commented on #102
Hi @Annoraaq,

Yes, of course. Sorry for lacking the details. I use npm to install grid engine, then this is my `index.js`

[code]

And this is how I use it in my scene :)

[code]

[2021-04-16 07:05] Annoraaq commented on #102
@bloonguyen1207 Thank you for the additional infos. I will try to reproduce the error.

On a first look I can already spot some things that are useful but probably unrelated to the error.
You are setting the spawn point on the player sprite. This will be ignored by the plugin, because it will position the sprite itself. The same goes for the depth and the offset. I recommend to initialize the spri

[2021-04-16 13:20] Annoraaq commented on #102
@bloonguyen1207 I can reproduce it.

I will keep you up to date. Thanks for pointing the bug out!

[2021-04-16 18:45] #102 closed

[2021-04-16 18:48] Annoraaq commented on #102
@bloonguyen1207
It should work now with the latest version. Could you please verify?

[2021-04-17 06:42] borkowsky commented on #85
Where it comes? :)

[2021-04-17 10:16] Annoraaq commented on #85
I am currently extending the movement to support 8 directions.

Are you currently facing problems with the performance of pathfinding?

If so I could give it a higher priority.

[2021-04-17 11:12] borkowsky commented on #85
Its a good news) yes, sometines characters stucks at path finding

[2021-04-17 11:58] Annoraaq commented on #85
How large is your map? Bidirectional search will allow twice as long paths to be found in the same time than BFS.

[2021-04-17 12:06] borkowsky commented on #85
50x50 tiles (10x10)

[2021-04-17 14:06] Annoraaq commented on #85
This should not be a problem for BFS 🤔

Maybe the following factors influence it as well:
1. how many chars do you have on the map performing pathfinding?
2. how many layers does your map have?
3. are you using the [Height Shift feature](https://annoraaq.github.io/grid-engine/features/height-shift.html)?

[2021-04-17 14:18] borkowsky commented on #85
Its happens when some another characters near my character.
1. 5-6
2. 5
3. No.

[2021-04-17 15:57] Annoraaq commented on #85
Then it is not the speed of the algorithm.

Is it just "lagging" or does the character change directions a couple of times?

On every step the character is looking for the shortest path to the target again. If the other character (close to yours) is blocking that path, a new path is chosen. That might explain changes of direction.

[2021-04-17 16:37] borkowsky commented on #85
Yes, char change directions couple of times

[2021-04-17 17:32] Annoraaq commented on #85
Then I guess the problem is created in a situation like this:

1.  char c1 wants to move to target X and calculates shortest path
2. char c2 gets in that path
3. char c1 needs to calculate a new shortest path, because the old one is blocked by c2
and so on

I am not sure how that could be prevented. One alternative is that c1 would just ignore c2 and continues walking on that path. But it will blo

[2021-04-17 17:36] Annoraaq opened #104 "Make pathfinding more smooth"

[2021-04-17 18:11] borkowsky commented on #85
Yes, its a good solution, i think it should work

[2021-04-17 18:27] Annoraaq commented on #85
I created a new issue for this:
https://github.com/Annoraaq/grid-engine/issues/104

[2021-04-17 20:36] bloonguyen1207 commented on #102
Yes, it works perfectly now. Thank you so much 🥇 🥇 🥇

[2021-04-18 16:59] Annoraaq opened #105 "add `walkingAnimationEnabled` to docs"

[2021-04-18 16:59] Annoraaq opened #106 "add `setTilePosition(...)` method"

[2021-04-18 17:01] Annoraaq opened #107 "allow adding characters without a sprite"
This will make it possible to add invisible objects to tiles and simplifies interaction with them.

[2021-04-18 17:01] Annoraaq opened #108 "allow characters to 'not collide'"
One might want to add objects to certain tiles that don't block but allow some interactions. This goes hand in hand with the idea to open up the plugin to also allow to place other objects than just characters to tiles and interact with them.

[2021-04-24 11:57] borkowsky commented on #106
Very useful, i need it :)

[2021-04-24 14:56] borkowsky opened #109 "Moving error"
Hi. Sometimes when i try to move character after create scene, char just change facing direction and not move.
How can i fix this issue?

[2021-04-24 15:10] borkowsky commented on #109
I captured video.
https://youtube.com/shorts/kXTXcDymwb0?feature=share

[2021-04-24 15:49] Annoraaq commented on #109
Are there any errors shown in the console?

Are you recreating the plugin after loading the scene? Or did the tilemap change and the plugin is still using the reference to the old tilemap?

It looks to me like the plugin thinks that all directions are blocked. This could be the case if the tilemap is unloaded. But I am just guessing.

[2021-04-24 16:10] borkowsky commented on #109
No errors in console. I just go to combat scene, then to death scene and go to map scene from death scene.

[2021-04-24 17:04] Annoraaq commented on #109
I will try to reproduce it with a change of scenes.

[2021-04-24 18:19] borkowsky commented on #109
It happens when i change player position at server and server emit event (player patched) which call player position synch at map. When player moving i restart scene (clear all events, destroy map and other objects). I do restart scene because i need to change player position without moving animation (because it calls another synch at server, i dont need it, thats why i so need ur new announced se

[2021-04-24 18:20] borkowsky commented on #109
I think i cant change player position immediately,  without playing move animation and without restarting scene (without recreating plugin)

[2021-04-24 19:17] Annoraaq commented on #109
In a different thread you mentioned that you get the character directly via `let character = this.gridEngine.gridCharacters.get('char-id')`

Does it help if you call `character.setTilePosition(new Phaser.Math.Vector2(<X_POS>, <Y_POS>)`?

That does not explain the bug but it could help you out until it is fixed as a workaround. And as soon as I expose `setTilePosition` to the public API you can saf

[2021-04-24 19:29] borkowsky commented on #109
Yes, it should be very helpful in my case, i dont know how to fix this problem by another way.

[2021-04-24 19:33] Annoraaq commented on #109
Ok. So just to be clear: in theory you should already be able to use it like this. So you can try it out:

[code]

But please keep in mind that this is only a workaround because `this.gridEngine.gridCharacters` is internal to the plugin. But I will add the `setTilePosition` method to the API of the plugin and let you know. In the meantime please let me know if the above approach works.

[2021-04-24 19:35] borkowsky commented on #109
[code]
For character works now? Is it internal method?

[2021-04-24 19:41] Annoraaq commented on #109
That's correct. In fact, the plugin uses this method to set the tile position of the character on initialization, so it should work I guess. But it will not do anything while the character is moving (because that would cause chaos).

[2021-04-24 19:44] borkowsky commented on #109
I will try that tomorrow and i write message to you with result of this code. Thanks for the answers )

[2021-04-24 19:45] Annoraaq commented on #109
👍  You're welcome 🙂

[2021-04-25 14:45] borkowsky commented on #109
Hey. Ur advice works as expected, thanks) I still waiting new methods ;)

[2021-04-25 16:46] Annoraaq commented on #109
That is great. I will add it to the public api and let you know as soon as it's available.

[2021-04-27 14:21] Mteuahasan opened #110 "moveTo potential issue"
Hello,

I'm using your engine in order to build my project. It is awesome overall congrats !

I just ran into an issue on my project : when I use moveTo on any character, it result in the character going back and forth around the destination tile. Is that a bug or is there any parameter I'm missing ?

Here is a video of what I am try to explain : https://streamable.com/b7lalj

Thank you !

[2021-04-27 18:41] Annoraaq commented on #110
Hi @Mteuahasan

You are absolutely right. It is also broken in the example section. Seems like some update broke it. Thank you for pointing that out! 🙂

I will let you know as soon as it is fixed.

I am glad you like the engine. If you have more feedback, we are happy for every input 👍

👋

[2021-04-27 18:50] Mteuahasan commented on #110
Thank you very much !
I do have another feedback, I'll post another issue 😄

[2021-04-27 19:07] Mteuahasan opened #111 "setTilePosition issue"
Hi there,

I'm facing an issue trying to use the setTilePosition method.
Here is the context : I'm making a multiplayer project with socket.io. For this project, I would like Phaser to run even if the browser tab is not focus but it seems to be impossible. So, in order to tackle this, I'm requesting the current position of all players on window's focus event and then I moveTo my other players. BUT

[2021-04-27 19:32] Annoraaq commented on #110
@Mteuahasan Should be solved in 1.12.3. Can you confirm?
Thanks again for pointing it out.

[2021-04-27 19:32] #110 closed

[2021-04-27 19:41] Mteuahasan commented on #110
I do confirm, thank you 🤩

[2021-04-28 02:16] jasonmcleod commented on #90
Just found this today! Would also love to see this feature. I'm anxious to see what you come up! May take a stab at is also, but I see you are working on it as recently as today 🙌

[2021-04-28 06:57] Annoraaq commented on #90
It's coming soon! 😁

[2021-04-28 07:49] Mteuahasan commented on #111
I managed to have something working by calling `gridEngine.gridCharacters.get(charId).stopMoving()` before `setTilePosition` but it seems quite hacky

[2021-04-28 17:24] Annoraaq commented on #111
Hi @Mteuahasan,

Maybe a couple of general information about the used methods first. They might already help you along:

The setTilePosition() method is not yet part of the public API, but I will expose it soon. So you can use it for now, but I would recommend to switch to the official one once I exposed it. However, the idea behind it was that it might mess up things to reposition a moving char.

[2021-04-28 17:27] #99 closed

[2021-04-28 17:33] #105 closed

[2021-04-28 18:04] Mteuahasan commented on #111
Hi @Annoraaq,

Thanks for the explaination. I won't use `stopMovement` and `stopMoving` then.
I'm not sure I can explain better than I did without a demo but your proposition would definitely solve the problem, I did this this morning in the unminified version of the plugin and that worked like a charm.

[2021-04-28 18:07] Annoraaq commented on #111
Great to hear that. I will implement it like this then.

Btw: There is a bug in `stopMovement()` I am fixing it.
But that method would probably not solve your problem because it will stop any automated movement but only if the character reaches the next tile. Otherwise it would be possible for a character to stand between tiles which is against the nature of the grid physics.

[2021-04-28 18:19] Mteuahasan commented on #111
Thank you !
Alright copy that. I won't need to use it anyway if you implement the discussed behavior.

[2021-04-28 18:50] #106 closed

[2021-04-28 18:50] Annoraaq commented on #106
@borkowsky You can now use it via the `setPosition()` method.

[2021-04-28 18:51] borkowsky commented on #106
Sounds great, thanks :)

[2021-04-28 18:51] Annoraaq commented on #111
I just released version 1.13.0 that should implement the desired behaviour via `setPosition()` method and also fixes `stopMovement()`. Let me know if that solves your problem :)

[2021-04-28 19:32] Mteuahasan commented on #111
That totally solved it ! Thank you

[2021-04-29 15:50] #111 closed

[2021-05-01 14:53] Annoraaq commented on #90
@neu5 @awweather @jasonmcleod
Version 1.14.0 should now support 8 directions. It was a large change so I hope everything works as expected. Please provide feedback if something is not working as expected or could be improved :) Thank you

[2021-05-01 14:53] #90 closed

[2021-05-03 17:14] mikedane opened #117 "Webpack "Unexpected Token" error in Create React App and other webpack based libraries"
I'm trying to use Grid Engine in a React app and am running into a problem getting it to build. At this point, I'm unable to even import `GridEngine`. without an "Unexpected Token" error.

I've been able to replicate this error using Create React App, Gatsby, Storybook, as well as code sandbox. Is this a known error and the library is simply not compatible with these environments, or am I missing

[2021-05-03 19:37] Annoraaq commented on #117
Hey mikedane, I have actually never tested it with React. I will check it out and let you know what I found out.

Thanks for letting us know 🙂

[2021-05-05 01:01] awweather commented on #117
I have the same problem using Vue :)

[2021-05-05 07:59] Annoraaq commented on #117
@mikedane @awweather
I found out that I need to compile down to es2016 instead of esnext. Can you confirm that the problem is solved in 1.14.1?

[2021-05-05 07:59] #117 closed

[2021-05-05 13:33] mikedane commented on #117
Looks like the patch fixed it! Can confirm it's working now. Thanks for the quick response, loving this library!

[2021-05-06 19:24] awweather commented on #117
@Annoraaq It's fixed! thanks for the quick reply

[2021-05-09 13:44] awweather commented on #90
Hi!  I had some time to play around with the 8 direction movement and wanted to get your thoughts.  Since my game uses click to move, I was hoping that the moveTo method would be able to interpolate which direction to move based on last position.  Since the engine currently knows how to "move diagonally" given an input of two arrow keys, could it also determine how to move diagonally based off a l

[2021-05-09 14:52] Annoraaq commented on #90
Hi @awweather,

as implemented at the moment, the moveTo method will get the shortest path from the current position to the target position. If you enabled the 8-direction mode (setting `numberOfDirections` to `8` in the config - https://annoraaq.github.io/grid-engine/api/config.html), it will also take diagonal movements into account.

Isn't that what you need? This example here shows how the mov

[2021-05-10 00:52] awweather commented on #90
Whoops, I'm an idiot. I was still referencing an old version of the grid engine.  Everything is working. Thanks!

[2021-05-10 19:39] DouglasDev opened #119 "Request: more customization options for moveTo and walking animations"
Hi, overall excellent library. There are two features that I need to complete my game. If you can point me in the right direction, I would be willing to add the features myself. The features are:
1. An observable or event listener that is triggered when the character arrives at the destination and also one that is triggered when their path is completely blocked.
2. A way to better sync the animati

[2021-05-11 16:22] Annoraaq commented on #119
Hi @DouglasDev,

thank you for your input. These are really good suggestions.

## Point 1:
 ### Observable 'when the character arrives at the destination':
 This can be accomplished by using the existing observable `positionChanged()` or `positionChangFinished()`. By using rxjs you can [filter](https://www.learnrxjs.io/learn-rxjs/operators/filtering/filter) that observable by the character and til

[2021-05-11 18:49] Annoraaq commented on #119
This will be possible soon with my mentioned strategy settings. However, your case sounds a bit like you could need an option that is like: "if the path is blocked, try to find a new one for some amount of time and if that fails, give up". I think I will add that to the possible strategies.

I fear this is not possible in general. However, under the assumptions that the "blocking" property of a ti

[2021-05-11 23:08] DouglasDev commented on #119
My minimal example for reproducing the bug is this:
`import Phaser from 'phaser'
import { GridEngine } from 'grid-engine'

var game = new Phaser.Game({
  type: Phaser.AUTO,
  width: 400,
  height: 300,
  scene: {
    preload,
    create,
  },
  scale: {
    autoCenter: Phaser.Scale.CENTER_HORIZONTALLY,
  },
  plugins: {
    scene: [
      {
        key: 'gridEngine',
        plugin: GridEngine,

[2021-05-11 23:35] DouglasDev commented on #119
Also I really like your idea for setting a timeout for when the character will give up if the path is block and I think it would work well with my use case.

[2021-05-12 12:04] lendsp opened #120 "help how to use in js?"
i tried npm i --save grid-engine

and add <script src="GridEngine-1.12.2.min.js"></script> in index.html

` this.gridEngine.create(cloudCityTilemap, gridEngineConfig);`

[code]

[2021-05-12 13:47] DouglasDev commented on #119
One other issue I noticed:
when I add the following code:
[code]
 to the create function in the example above, I get the error:
[code]

not sure if it's a bug or if I'm misusing the observable somehow.

[2021-05-12 13:49] DouglasDev commented on #120
Did you add it is a plugin to Phaser?
Example:
[code]

[2021-05-12 18:33] Annoraaq commented on #119
Hey @DouglasDev
I will try to reproduce the bug with moveTo and keep you up to date. Thank you for the detailed information.

Regarding your other issue with the observable. You have to destructure it as an object:
`subscribe(({charId, exitTile, enterTile})` vs `subscribe(([_charId, exitTile,enterTile])`.
In your particular case where you don't use the charId you can do: `subscribe(({exitTile, ent

[2021-05-12 18:37] Annoraaq commented on #120
Hey @lendsp

First, you need to decide for one option: npm or web. If you want to include it via <script> tag (which a call web) then you don't need to run `npm i`. It is hard to say why your error occurs without more context. Can you provide more code?

One reason could be what @DouglasDev suggested. If you don't add it as a plugin, it will not be known within your phaser functions. Another reaso

[2021-05-12 19:04] Annoraaq commented on #119
@DouglasDev

You are right. It is a bug and it was introduced with 1.14.1 but the examples are still using 1.14.0. That is how I could not reproduce it. Thank you for your help!

I will fix create a bug and fix it with the next update that will also bring other changes for moveTo.

[2021-05-12 19:04] Annoraaq opened #121 "movementStarted fires on every step when using moveTo"

[2021-05-12 23:18] lendsp commented on #120
Thank @DouglasDev

i had a mistake. i don't have put the the another scene inside plugins

Thank @Annoraaq

I really don't really know what I'm doing
trying to mix the gridengine with socket.io, and learning from scratch.

I even had something that was more advanced, but it was complicated to have control of the sprites, so I'm starting over and I'm going to put more emphasis on the gridEngine

[2021-05-12 23:18] #120 closed

[2021-05-13 16:27] Annoraaq opened #123 "Add "RETRY" noPathFoundStrategy"
Add a new noPathFoundStrategy that retries to find a path. It can be configured with a "timeout", such that it won't retry forever.

[2021-05-13 16:29] Annoraaq opened #124 "Add 'STOP' pathBlockedStrategy"
Add a new pathBlockedStrategy that will cancel to moveTo movement if the current path is blocked.

[2021-05-13 16:30] Annoraaq opened #125 "Add a timeout for "RETRY" and "WAIT" pathBlockedStrategies"
Currently the "RETRY" and "WAIT" pathBlockedStrategy will retry/wait forever. There should be a timeout value to make it configurable.

[2021-05-13 16:41] Annoraaq commented on #121
Fixed with 1.15.0

[2021-05-13 16:41] #121 closed

[2021-05-13 16:41] Annoraaq commented on #104
Done with 1.15.0

[2021-05-13 16:41] #104 closed

[2021-05-13 16:43] Annoraaq commented on #119
@DouglasDev fyi:
The bug that caused the movementStarted observable to fire on every tile has been resolved with 1.15.0.
Also you can find `moveTo` to be more configurable already. However, there are still some strategies missing (also the timeout). I created issues for those: #123, #124, #125
You can track the features there.

[2021-05-13 17:44] DouglasDev commented on #119
Thanks so much!

[2021-05-14 17:07] Annoraaq commented on #109
Hi @borkowsky

is this still an issue? I am having trouble to reproduce this. When I restart the scene via:

[code]

Then everything works as expected. If it is still an issue, can you provide a mininum example that breaks?

Thanks

[2021-05-14 17:17] borkowsky commented on #109
Hi @Annoraaq . I go to try ur example then i give answers

[2021-05-15 09:41] borkowsky commented on #109
Hi @Annoraaq
All works as expected now, thanks ;)

[2021-05-15 09:41] #109 closed

[2021-05-15 13:32] Annoraaq opened #126 "Replace Phaser Vector by own Vector implementation"

[2021-05-15 22:41] DouglasDev commented on #119
Hi, I didn't have time until now to try out the new version. I installed version 1.15.0 and tested it with my example above and I'm still having the issue where movementStarted and movementStopped are fired on every tile. When you retest it you didn't have that happen? Is 1.15.0 the correct version?

[2021-05-16 12:12] Annoraaq commented on #119
Yes, version 1.15.0 is the correct one. See this example here that uses a custom animation and also calls console.log for every movementStarted:
https://codesandbox.io/s/dank-sun-4vj7x?file=/src/index.js

[2021-05-16 14:00] DouglasDev commented on #119
In your example, I'm still seeing movementStarted and movementStopped called every time the character changes direction, and directionChanged is never called. Are you saying this is the correct behavior? I was expecting that movementStarted would only be called once when the player starts moving, directionChanged would be called each time the direction changes and movementStopped only called after

[2021-05-16 14:04] DouglasDev commented on #119
I just notice another small issue: if your use the keyboard controls and move the player to a wall and keep holding down the arrow key in the direction of the wall, directionChanged is called on every single frame.

[2021-05-16 14:10] Annoraaq commented on #119
Yes, that is the intended behavior. These observables were introduced for exactly your use case. So movementStarted and movementStopped are called every time you typically want to start a movement animation.

DirectionChanged is for changing direction without moving. The docs describe it like:

This is necessary in order to set the correct character frame for a custom animation.

I hope this helps

[2021-05-16 14:13] DouglasDev commented on #119
Okay thanks for the explanation. Yes, you were correct that it was an old version so no need to reproduce it. Somehow deleting my node_modules and reinstalling fixed it. Have a good rest of your weekend!

[2021-05-16 14:13] #119 closed

[2021-05-16 14:15] Annoraaq commented on #119
Thanks. You, too! Glad it works now 🙂

[2021-05-16 15:34] Annoraaq commented on #126
closed with version 2.0.0

[2021-05-16 15:34] #126 closed

[2021-05-18 17:13] #124 closed

[2021-05-18 17:13] Annoraaq commented on #124
closed with 2.1.0

[2021-05-20 14:44] Mteuahasan opened #131 "setSpeed not working"
Hello,

I'm facing an issue with the setSpeed method. The property speed of the character is updated but the speed does not change. Maybe the method is not designed to be called on the fly ? For the context, I'm trying to speed up my character when pressing the shift key.

Thank you !

[2021-05-20 19:00] Annoraaq commented on #131
I can confirm that this is a bug. The method was designed for exactly your use case.

Thank you for telling! I will let you know as soon as it is fixed.

[2021-05-22 06:44] borkowsky opened #132 "Errors in console"
Image attached below
![image](https://user-images.githubusercontent.com/49586102/119217346-4f418000-bae2-11eb-9b8b-744881d2fd55.png)

[2021-05-24 12:33] Annoraaq commented on #132
Can you provide any context information? Which call causes this? How do you initialize/configure the plugin. Have you made sure, you are passing the correct data types to the plugin?

I'm not able to reproduce the error without any further information.

[2021-05-24 16:24] borkowsky commented on #132
When i move player to any direction this error appear in console

[2021-05-25 18:18] Annoraaq commented on #132
I fear I still can't reproduce this. Which version are you using and how are you setting up the plugin? Can you maybe provide a minimum breaking example?

[2021-05-26 18:03] Annoraaq commented on #131
Fixed with 2.2.0

[2021-05-26 18:03] #131 closed

[2021-05-26 18:03] Annoraaq commented on #123
Done in 2.2.0

[2021-05-26 18:03] #123 closed

[2021-05-26 18:22] Annoraaq opened #134 "Add moveOnPath method"
Add a method that allows passing a path for the character to move along.

[2021-05-31 09:35] Annoraaq opened #136 "setPosition throws error"

[2021-05-31 19:58] Annoraaq commented on #136
closed with 2.2.1

[2021-05-31 19:58] #136 closed

[2021-05-31 19:58] Annoraaq commented on #136
closed with 2.2.1

[2021-06-01 13:15] Annoraaq opened #140 "Be more precise about collisions in the docs"
See: https://github.com/Annoraaq/grid-engine/discussions/139

[2021-06-15 04:20] borkowsky commented on #132
Sorry for late answer, i provide code soon. Very busy (

[2021-06-17 18:13] Annoraaq commented on #125
closed with 2.3.0

[2021-06-17 18:13] #125 closed

[2021-06-18 13:06] Annoraaq opened #142 "Expose Direction"

[2021-06-18 18:45] Annoraaq opened #143 "Improve pathfinding speed"
Bottleneck is currently checking for a blocked character. This can be improved by keeping a map from position to characters on that position. This will make checking for blocking char O(1) with O(tilemap.width * tilemap.height + numberOfChars) space consumption.

[2021-06-20 10:59] pikokr opened #144 "Update direction without moving"

[2021-06-20 11:08] pikokr commented on #144
I found that(gridEngine.turnTowards)

[2021-06-20 11:08] #144 closed

[2021-06-20 15:04] Annoraaq commented on #143
Will be in 2.4.0

[2021-06-20 15:04] #143 closed

[2021-06-20 16:30] #142 closed

[2021-06-21 16:38] #80 closed

[2021-06-21 16:39] splashsky opened #148 "NPM errors when installing GridEngine with Phaser 3.55.x"
Title. This should be able to be easily fixed by upping our dependency version in the project from `~3.54.0` to `~3.55.0`. I'm not sure about dependency trees though. 😛

[2021-06-21 17:20] Annoraaq commented on #148
Good point. I will check it out.

[2021-06-21 18:33] Annoraaq commented on #148
While I was not able to reproduce any errors when using the new Phaser version, I still updated the dependency. Can you please check if you still observe any errors? If so, could you provide those?

[2021-06-21 21:41] splashsky commented on #148
Attempting to install GridEngine with `npm i grid-engine` no longer gives me a dependency error. We're good to go! 👍🏻

Thanks for the quick fix, guy :smile:

[2021-06-21 21:41] #148 closed

[2021-06-22 18:50] splashsky opened #154 "Getting a tile"
I'm not sure if the ability was ever added, but one feature that was valuable related to the `getFacingDirection` method is that we would be able to get information on a tile adjacent to the player - similar to the way we can get the tile the player has stepped on via `onEnter`. Does this ability exist for `getFacingDirection`, and if not can it be added?

We might want to consider creating exampl

[2021-06-22 19:38] Annoraaq commented on #154
At the moment no such method exists. But it can be achieved by using the methods already there. All you need is `getFacingDirection` and `getPosition`. If you know the position of the character and its facing direction then its simple to get the position of the facing adjacent tile. It could be something like this:

[code]

Of course it might be handy to put that in a method like `getFacingPositio

[2021-06-22 21:37] splashsky commented on #154
I had to correct my previous statement - all the important API tidbits are there. It's just exposing/demo'ing some more real world applications would be neato! Good job on the docs by the way, I've been able to tinker with a personal project a fair bit with it.

I would second implementing a method to retrieve not just the position of a tile, but also the properties of a tile. I think this sort of

[2021-06-23 13:32] Annoraaq commented on #154
What do you mean by properties? The custom properties that you can set in Tiled?

[2021-06-23 13:54] splashsky opened #156 "Build error: Could not resolve "grid-engine/dist/Direction/Direction""
Howdy! I was working on getting all the proper typing passed to various functions, and while I was working on the movement code I tried to use the Direction enum as the parameters for movement. However, when trying to build I got the following error...

[code]

However, I'm 100% certain that the `Direction.d.ts` file is precisely where it should be - it was suggested and autofilled by the editor,

[2021-06-23 14:02] splashsky commented on #154
Yes, although it's apparent you can use Phaser's tilemap methods to do "getTileAt", which works swell. I just wonder if it would be too redundant to give GridEngine the ability to maybe more succinctly getTileProps? At current the best example of getting props on tiles we have is

[code]

whereas I could envision a cleaner solution to be

[code]

[2021-06-23 14:13] splashsky commented on #156
I've temporarily fixed this issue by creating my own helper ts file with a Direction enum. I'll continue to read into what the issue could be.

[2021-06-23 15:43] splashsky opened #157 "Add observables for startedMoving and stoppedMoving"
We have observables for `positionChange` but those register every tile - this isn't super efficient for some systems which rely more  on the start/stopping of movement entirely rather than per-tile. Unless it already exists, it'd be awesome if we had an observable that plays off the `isMoving` method and lets us watch for a character to stop moving entirely before it's fired.

[2021-06-23 15:44] splashsky commented on #157
Never mind - I'm really getting ahead of myself on these posts. I'll slow down.

This feature already exists. 😓

[2021-06-23 15:44] #157 closed

[2021-06-23 16:34] Annoraaq commented on #156
This is my fault. I exposed the Direction interface directly, because it is needed for the API. So no need to include a deep link to the file like your editor suggested anymore.

It should work via:
```import { GridEngine, GridEngineConfig, Direction } from "grid-engine";```

[2021-06-23 17:23] splashsky commented on #156
Attempted to import it that way, but alas...

[code]

Maybe need an explicit type definition in there?

[2021-06-24 00:59] splashsky opened #159 "movementStopped does not catch the destination tile"
After some testing, I've noticed that `movementStopped` doesn't register on the tile you stop moving on, but instead the tile behind you, in the direction you came. For example, if you're on (1, 1) and you move right to (4, 1), then the position you get in `movementStopped` is (3, 1).

I don't imagine this behavior is intentional, and it really messes with using this observable for it's intended p

[2021-06-24 06:53] Annoraaq commented on #159
`movementStopped` is intended to be used in order to create custom animations, not for position detection. Position detection should be done via `getPosition` or the `positonChangeStarted` and `positonChangeStopped` observables.

The weird results you are observing might come from the fact that `movementStopped` is not returning a position but a characterId and a direction:

https://annoraaq.githu

[2021-06-24 08:42] Annoraaq commented on #156
Are you using version 2.4.0?

[2021-06-24 09:49] Annoraaq commented on #154
How to you suggest to merge the properties of the several layers?

[2021-06-24 13:31] Annoraaq commented on #156
https://codesandbox.io/s/eloquent-rgb-0heom?file=/src/index.ts:0-129

Here is a minimal working example.

[2021-06-24 17:07] splashsky commented on #159
Excellent! This would be a huge boon for me. The reason I wasn't using `positionChangeStopped` was because that observable fires every instance that the character has shifted tiles - i.e. it fires every time the character steps on a new tile. This behavior is expected, and I wouldn't want that to change. I suppose the naming of `movementStopped` was a bit of a misnomer.

Either way, thanks for loo

[2021-06-24 17:08] splashsky commented on #156
This appears to have been the issue. As of updating to 2.4.0 I no longer have that notice. Thanks, Anno! :smile:

[2021-06-24 17:08] #156 closed

[2021-06-24 17:14] splashsky commented on #154
After learning more about the `some()` method I see your point. I suppose this sort of function would be best implemented on a per-project basis. I'll see if I can conceptualize some useful generic utilities.

[2021-06-24 18:41] splashsky commented on #140
I am as of today working on an update to the documentation, and will help address this as well.

[2021-06-25 16:34] splashsky opened #160 "Big docs update"
I'm working on a substantial docs update at the moment.

Current changes:
- Switching from Jekyll to Hugo (Ruby to Go)
- More modern theme includes table of contents sidebar and cleaner mobile view
- An additional dark mode, for those late night game dev sessions!
- Cleaning up example pages and improving per-feature documentation

Should be ready within a week or so. Have a lot to rewrite!

[2021-06-25 21:02] splashsky commented on #132
@borkowsky Any updates? If not I'll close this case on Monday.

[2021-06-26 06:12] Annoraaq commented on #160
Sounds great! 👍 Thank you

[2021-06-28 20:46] splashsky opened #162 ""build-web" places resulting script in root directory"
The current "build-web" script places the `GridEngine.min.js` file into the root project directory, not `dist/`. Because of this, you can't import the non-ESM build easily into any other projects.

Easy fix; just add `dist/` to the `--outfile` argument for "build-web"

[2021-06-29 09:37] Annoraaq commented on #162
Hey @splashsky

This is intentional. The reason for it not being in dist is that it is not supposed to be exported as an npm module. The non-esm version is intended for manual download only. Putting it in the dist directory would make the npm package twice as large.
Unfortunately I could not find a way to exclude single files from being published to npm.

Could you be more specific about this case

[2021-06-29 15:11] splashsky commented on #162
In my use case, I was trying to make a script that would contain accessible instances of both Phaser and Grid Engine. However, they wouldn't be in the global namespace as ESM modules so that was out of the question. I then set up a simple script to copy the minified scripts from `node_modules`, which worked for Phaser but not for Grid Engine, because Grid Engine's minified universal script wasn't

[2021-06-29 15:52] splashsky commented on #160
First peek at the update. Most important thing for me in this rewrite is cleanliness, and I hope to expand on more complicated examples. I also want to make the API and Methods pages easier to navigate, and to read.

Almost there - just takes a while to redo every single example page 🤣

![image](https://user-images.githubusercontent.com/12104206/123829243-e6f77280-d8c7-11eb-915d-2e8cc3102213.png)

[2021-06-30 12:37] Annoraaq commented on #162
I merged it. It will be part of the next release.

[2021-06-30 12:37] #162 closed

[2021-06-30 12:41] Annoraaq opened #164 "Make blocking behavior configurable"
See: https://github.com/Annoraaq/grid-engine/discussions/161

[2021-07-02 19:24] awweather opened #165 "Expose isCreated or a property indicating the engine has been initialized/created"
I have some external systems that run outside of phaser.  I'd like for them to be able to tell when the grid engine has initialized so that I can prevent calls into them too early.  Is there a way to do this?  I see an isCreated property but its private.

[2021-07-03 06:55] Annoraaq commented on #165
Hi @awweather

the private isCreated property indicates whether the create method of the plugin already has been called. This is usually done in the create method of phaser. I think in your situation it might be cleaner to check whether phaser has already been initialized if that is possible somehow.

You could also call some function in the create method of phaser or set a global variable to indi

[2021-07-03 11:24] lendsp commented on #165
i had problems with socket.io my solution was to use timedevent in the create() function to make the middle field. I don't know if this is nonsense...

[2021-07-03 12:31] awweather commented on #165
Thanks all, I think you've shared some ideas of how I can handle this!  I appreciate the quick feedback.

[2021-07-08 02:46] gureckis opened #166 "example code for detecting arriving at destination"
Hi,
Thanks for a great package, it is so well documented and really helping me on a project.  One issue is that I want some code to execute when my character moves to a particular location using `.moveTo()`, specifically when it arrives at the final destination.  I looked at the closed issues and discussions a lot to see the recommendation to use either `getPosition()` or `positionChangeFinished()

[2021-07-08 06:28] Annoraaq commented on #166
Hi @gureckis,

I think the most straightforward way to achieve this is to create a new observable of positionChangeFinished() by filtering it:

[code]

I did not test that specific code snippet but it should communicate the idea:
For each moveTo you want to react on reaching the target tile you will create a new observable, that fires only when a specific char enters the position you wanted to mov

[2021-07-08 12:38] splashsky commented on #166
I +1 this idea. Sounds similar to the need I have of an observable that returns the final destination tile; from our discussion in #159

[2021-07-08 21:01] splashsky opened #167 "Height Shift Not Working As Expected"
Hey there! Working with my tilemaps, just trying to get them to look right. Put the tops of trees on a layer and added `ge_heightShift` to them with a value of 1. Sadly, it appears it doesn't render correctly. In the following screenshot, the tops of the trees have the property and should be rendered above the character. They are not.

![image](https://user-images.githubusercontent.com/12104206/12

[2021-07-09 01:59] splashsky commented on #167
Pardon me. Upon moving this project to another computer it's working as expected. Might have been a cache issue I didn't catch. 😆

[2021-07-09 01:59] #167 closed

[2021-07-09 07:05] Annoraaq commented on #159
@splashsky just to keep you up to date: I have to change some core aspects of the movement in order to get this fixed. Therefore it takes a bit longer than expected.

[2021-07-09 13:07] splashsky commented on #159
Ah no problem - don't rush it. I'm still working on visuals and playing with Phaser-specific mechanics, so take all the time you need my guy. 😄

[2021-07-09 17:35] gureckis commented on #166
thanks this is very helpful!

[2021-07-09 17:40] gureckis opened #168 "click events on gridCharacters"
I'd like to enable clicking on a character and having something happen.  I can register 'pointerdown' events to the character's sprite but then I can't access information about the grid character itself (e.g., `.getPosition()`)

here's an example which does register the click but I can't access the identity of the character:

[code]

but this doesn't work:

[code]

Is there a recommendation or way

[2021-07-09 18:03] splashsky commented on #160
I apologize for the delay - just confirming I am still working on the docs update and they're coming along great!

Technology has switched again as needs changed throughout the initial work. I ditched Hugo and Jekyll in favor of Docusaurus; a JS solution I rather like. Looking forward to publishing the updated docs!

The API is also getting much more fleshed out, with individual pages for each rel

[2021-07-09 22:43] splashsky commented on #160
An example of method/API formatting, as it's come to be

![image](https://user-images.githubusercontent.com/12104206/125142356-2484a880-e0dd-11eb-8dc2-ac7adc4ac8dc.png)

[2021-07-10 10:06] Annoraaq commented on #160
Looks great!

[2021-07-10 10:18] Annoraaq commented on #168
Your last solution would be the recommended one. If you want to access data about a character the preferred way is over the public methods of the plugin, providing the character Id.

A sprite is just one aspect of a character along with its position, facing direction etc.

This brings me to another recommendation: don't use the gridCharacters property. In the typescript code it is a private proper

[2021-07-10 15:23] Annoraaq commented on #132
I will close this for now.

[2021-07-10 15:23] #132 closed

[2021-07-10 15:27] Annoraaq commented on #159
@splashsky closed with 2.4.1

Please let me know if your problem still occurs.

[2021-07-10 15:27] #159 closed

[2021-07-10 15:29] Annoraaq opened #170 "Add 'getSprite(charId: string): Phaser.GameObjects.Sprite' method"
Add a method that allows to fetch the sprite of a character

[2021-07-10 15:29] Annoraaq commented on #168
I created an issue for this #170

[2021-07-10 15:32] Annoraaq opened #171 "Add moveToFinished observable"
see #166

[2021-07-10 15:32] Annoraaq commented on #166
I created an issue for that feature #171

[2021-07-10 15:32] #166 closed

[2021-07-10 15:33] Annoraaq commented on #165
@awweather can I close this issue or is this still an issue?

[2021-07-10 15:35] Annoraaq opened #172 "Add 'getFacingPosition(): Position' method"
See #154

[2021-07-10 15:36] Annoraaq commented on #154
I created an issue for this: #172

[2021-07-10 15:36] #154 closed

[2021-07-10 16:44] awweather commented on #165
@Annoraaq yes thank you, I found another way.

[2021-07-10 17:08] #165 closed

[2021-07-12 04:28] gureckis commented on #168
thank you for your help and advice!

[2021-07-12 04:28] #168 closed

[2021-07-12 19:09] splashsky commented on #160
Okay, so most all the work is done now. All that's left is to handle migrating the examples, but running into some `<script>` related issues thanks to React. Working on it asap!

[2021-07-13 04:24] splashsky commented on #159
So what would be the new method by which I'd check for the final destination tile? Is there a new `movementChangeStopped`?

[2021-07-13 04:59] splashsky commented on #159
Upon testing with both `movementStarted` and `movementStopped`, the issue still exists. This screenshot is the console after moving one tile to the right.

![image](https://user-images.githubusercontent.com/12104206/125393228-2a90b880-e36d-11eb-83d9-3c5af02f62c9.png)

[2021-07-13 09:13] Annoraaq commented on #159
@splashsky I can see it working in my simple example here:
https://codesandbox.io/s/restless-https-nuvkk?file=/src/index.js

To be clear about how the behavior should be:
If you subscribe to movementStopped and access getPosition() from within the subscription, you should observe the current position. Moreover, movementStopped does not fire on a direction change anymore but only the character stop

[2021-07-13 09:22] Annoraaq commented on #159
@splashsky Seems like I forgot to actually build the project before releasing 1.4.1...

It should work with 1.4.2!

[2021-07-13 13:44] splashsky commented on #159
Haha, working perfectly! Thanks a ton for your work, man. If you ever open a $5/mo sponsor spot, lemme know 😉

[2021-07-13 14:13] Annoraaq commented on #159
You are welcome! I will let you know. Thanks a lot for your support🙂

[2021-07-21 12:21] Annoraaq commented on #164
closed with 2.5.0

[2021-07-21 12:21] #164 closed

[2021-07-28 09:23] Annoraaq commented on #170
closed with 2.6.0

[2021-07-28 09:23] #170 closed

[2021-08-05 09:37] Annoraaq commented on #172
closed with 2.7.0

[2021-08-05 09:37] #172 closed

[2021-08-12 13:54] Annoraaq commented on #171
closed with 2.8.0

[2021-08-12 13:54] #171 closed

[2021-08-14 18:16] Annoraaq commented on #108
closed with 2.9.0

[2021-08-14 18:16] #108 closed

[2021-08-18 18:09] Annoraaq opened #182 "More granular collision control"
### Discussed in https://github.com/Annoraaq/grid-engine/discussions/181

<div type='discussions-op-text'>

<sup>Originally posted by **matthewbean** August 16, 2021</sup>
Hi there, I really appreciate you creating this and making it much easier to create tile base games. The one thing I am running into that I cannot find an answer to, is how to allow collision between two characters and how to de

[2021-08-22 09:05] Annoraaq opened #183 "turnTowards is not working"

[2021-08-22 09:23] #183 closed

[2021-08-23 13:22] xLink commented on #134
this would be very useful for what im building, could it be viable to add a loop property? to make it auto restart the path move when finished

[2021-08-23 14:21] Annoraaq commented on #134
Regarding the loop functionality. Do you have something like this in mind:

If you have a path consisting of adjacent tile positions like: [pos1, pos2, ... posN] and the char arrives at posN. Should he then walk back again (walk the path in reverse order)?

[2021-08-23 15:16] xLink commented on #134
![animatedTiles](https://user-images.githubusercontent.com/217433/130472354-f7c2da7f-9389-415b-aa60-acb61a1c4fba.gif)
this gif describes what i mean quite nicely, (its just me running around a house) but a npc with the 4 corners of the house being its path, once it gets to the end of the path, it just starts again and runs to pos1 if its not already

[2021-08-23 16:02] Annoraaq commented on #134
When implemented you will have an observable that notifies you when the character has reached the target. Then you can simply restart the movement. So this kind of looping should not be a problem.

[2021-08-25 15:28] xLink opened #185 "collides on character bug"
Okay, situation goes like this; spawn a player character in a scene, give it movement, switch scene via the door, switch back (both via `this.scene.start()` and then you can no longer walk over the intial spawn tile. I've ran a test with `collides: false` on the player char, and it lets me, which leads me to think that theres some weird ghost being left in place or something?

Img for clarity:
![c

[2021-08-25 16:16] Annoraaq commented on #185
Thanks for telling 👍  I will take a look at this.

[2021-08-25 16:31] Annoraaq commented on #185
Can you provide some code around it, that helps me to reproduce the error? A simple `this.scene.start()` seems to work but this will reset the characters position.

[2021-08-27 02:58] 2Red opened #186 "Is it possible to check for collisions with object sprites?"
I have a game idea where the character will get stuck in a rock wall or a tree. When the character uses the skill to destroy trees, he can move forward. Don't know if your plugin supports that or not?

Thanks.

[2021-08-27 05:49] #186 closed, assigned to nobody

[2021-09-13 19:52] gitwikc opened #191 "Layer render order and collision bugs"
## :red_circle: Layer rendering order
### Expected behaviour
* The layers in the map render as configured in tilemap editor.
* The player sprite should be rendered in the order as specified in `playerSprite.setDepth`

## Bug :bug:
* The playerSprite always renders as the top layer (above all layers in the map) even though render order is set in `playerSprite.setDepth` and there are layers in the m

[2021-09-14 05:25] Annoraaq commented on #191
Hey @gitwikc

For the first issue I can give you a simple solution. GridEngine will overwrite your character sprite's depth property. That is necessary to correctly layer all the characters with respect to each other.

In order to place the characters at the correct layer of the tilemap there is the tile layer property `ge_alwaysTop`: https://annoraaq.github.io/grid-engine/usage/layer-properties.h

[2021-09-14 05:50] Annoraaq commented on #191
I tried to reproduce the issue with the collision but without success. You said it also occurs on the basic movement example. Do you mean in the online version of that example [here](https://annoraaq.github.io/grid-engine/examples/basic-movement.html)? If so, could you give more information on which tiles do not block as expected?

Do you maybe have a minimum working example that demonstrates the

[2021-09-14 06:20] gitwikc commented on #191
@Annoraaq

Yes, the online version example for Basic Movement in the docs,

![image](https://user-images.githubusercontent.com/60361305/133203623-83b8fd4c-d2fb-4b3b-ad56-6acd194efd5c.png)

### Bug
In the above image I am actually pressing the down key while the sprite is at the position as shown, but the sprite does not walk downwards. Also it doesn't move leftwards. But moves right. It seems like

[2021-09-14 06:24] gitwikc commented on #191
@Annoraaq
The new feature you are developing would surely be helpful. Are you adding any features to control the render order of the sprites and map's layers just normally as we do in Phaser? (I mean without `grid-engine` overwriting the depth property of the sprites?)

If I try setting `alwaysOnTop` property on multiple layers that are supposed to be above the player, how do I controls the render

[2021-09-14 06:32] Annoraaq commented on #191
That is interesting... In the online example it works for me. When the character is placed at the position that is shown on your screenshot, it should be able to move in all 4 directions. Maybe we have a compatibility issue here? Did you empty the browser cache? Which browser are you using? Are there any errors logged to the console?

Well I could allow to disable any depth setting of GridEngine,

[2021-09-14 06:51] gitwikc commented on #191
* I checked the console but there are no errors.
* I _cleared the cache_ and tried it and then again in _incognito_ mode too. The problem still persists.

I am using **Chrome Version 93.0.4577.63 (Official Build) (64-bit)** on **Windows 7 Ultimate (64-bit)** with Service Pack 1 installed. No graphics card though

[2021-09-14 07:35] Annoraaq commented on #191
While it is still mysterious to me why the example does not work for you I was able to observe at least some strange behavior in your repository. When I move the char there it sometimes seems to collide with free tiles randomly. Then when I push the button again it can move freely again. I will take a closer look at this and come back to you.

[2021-09-14 09:35] gitwikc commented on #191
In your case when you push the button again immediately it starts moving, but then in my case I also observed the same behaviour, not on immediately repressing the button, but after waiting 3-4mins then pressing again.

Have I done something wrong during configuring `grid-engine` in my repo?

[2021-09-14 13:02] xLink commented on #191
Adding `ge_alwaysTop` property on your `above-player` layer will fix the tops of houses being below the player, took me a little bit to figure out that it was a layer property not a tile one

As for the bug youre mentioning, Ive grabbed your repo and cant see it, the character is moving as it should and colliding with what you've set as collisions. (tested in ff & chrome, win10 etc)

I've checked

[2021-09-14 16:18] Annoraaq commented on #191
I have found the issue why I was getting this random behavior with your repo. I am one of the lucky owners of a MacBook Pro with a butterfly keyboard that is not working properly: https://www.macrumors.com/guide/butterfly-keyboard-issues/

Your example uses WASD as for movement and my "a" key is not working reliably. Therefore the issue I experienced had nothing to do with your project 😄

However,

[2021-09-18 14:37] gitwikc commented on #191
* No, the tiles where my player unnaturally stops are non-blocking tiles. The same problem arises when I try the [basic movement](https://annoraaq.github.io/grid-engine/examples/basic-movement.html) example in the docs (as mentioned earlier).
* I can move in other directions, when I get stuck on a tile that is not supposed to be colliding. *e.g. In the basic movement example in the docs, when I [g

[2021-09-18 14:38] gitwikc commented on #191
Could you please elaborate on what new feature in modern browsers does Windows 7 not support? I'd probably try finding a workaround.

[2021-09-19 09:04] gitwikc commented on #191
@Annoraaq
The issue is now solved on my machine!!!

### Problem :cry:
When I started the server and the game loaded, I would instantly start pressing `W A S D` buttons and play the game. That, for some reason, used to mess up something in `grid-engine`, making it unable to identify where to collide the player sprite and where to move freely.

### Solution :partying_face:
Now, after starting the se

[2021-09-19 09:04] xLink commented on #191
as i say it was just a theory, it might not even pan out to be true, but since windows doesnt even support the OS anymore with security updates, you shouldnt really be running it.

[2021-09-20 07:07] Annoraaq commented on #191
I ma glad that you got it working 👍

However, I still don't know what caused the issue. Moreover I can't reproduce it on my machine even when I start pressing WASD immediately after refreshing my browser window.

And you say you are having the same issue with the docs example? After loading the page you have to wait 10-15 seconds until pressing the arrow keys or it won't work?

Still mysterious 🤔

[2021-10-01 10:08] #191 closed

[2021-10-01 11:16] Annoraaq commented on #182
Beta implemented with 2.10.0

[2021-10-01 11:16] #182 closed

[2021-10-01 12:06] Annoraaq opened #193 "Add "Ice Movement" example"

[2021-10-03 14:32] Annoraaq opened #194 "Allow disabling character walking animation after initialization"

[2021-10-03 14:44] Annoraaq opened #196 "update dependencies"

[2021-10-03 14:45] #194 closed

[2021-10-03 15:08] Annoraaq commented on #196
closed with 2.10.1

[2021-10-03 15:08] #196 closed

[2021-10-03 15:19] #193 closed

[2021-10-03 18:16] Annoraaq opened #198 "Refactor char"

[2021-10-05 18:06] Annoraaq opened #199 "Pathfinding of non-colliding chars considers colliding tiles"

[2021-10-09 18:34] #199 closed

[2021-10-10 16:43] Annoraaq opened #201 "Collisions on char layers do ignore empty tiles when there are tiles on other layers"
Observed behavior:

A character does not collide with a position if there is no tile on any tile layer connected with the character's char layer as long as there is a tile on at least any other tile layer of some different char layer.

Expected behavior:

A character does collide with a position if there is no tile on any tile layer connected with the character's char layer. This is independent of

[2021-10-10 16:44] Annoraaq opened #202 "Update char layer tutorial in documentation regarding empty-tile collisions"

[2021-10-10 17:48] Annoraaq commented on #201
closed with 2.10.3

[2021-10-10 17:48] #201 closed

[2021-10-10 17:57] #202 closed

[2021-10-11 17:45] Annoraaq opened #204 "Pathfinding runs into infinite loop for non-colliding chars in certain cases"

[2021-10-12 16:09] #204 closed, assigned to nobody

[2021-10-12 16:24] Annoraaq opened #206 "Characters are overlapping on layer transition"
If a characters height exceeds the tile height, it will be overlapped by another character that is one charLayer higher. That is intended behaviour in most situations, but can be unexpected in situations like stairs with a layer transition:

![Screenshot 2021-10-12 at 18 23 52](https://user-images.githubusercontent.com/4518664/136993877-524ca381-7242-4963-85b5-8148afd7d7a2.png)

[2021-11-06 17:57] ilackarms opened #207 "Basic example not working with typescript"
Maybe it's something I'm doing wrong? Very simply, typescript isn't allowing me to compile the basic example due to the error:

[code]

My phaser game config contains the following:

[code]

However I assume I need to do some extra work to map the types? Or is this not supported?

Sorry, I'm a bit inexperienced with TS/JS, so maybe it was something on my end.

[2021-11-07 09:55] Annoraaq commented on #207
Hey @ilackarms, it seems to be this problem here: https://github.com/Annoraaq/grid-engine/discussions/47

Hope this helps.

[2021-11-07 14:21] ilackarms commented on #207
great! thanks for the quick reply @Annoraaq !

i'm running into another issue:

`Uncaught TypeError: i.tilemapLayer is null` when calling `this.gridEngine.create(tilemap, gridEngineConfig);`

any idea what could be wrong? maybe something with my tilemap setup?

[2021-11-07 14:32] Annoraaq commented on #207
You're welcome :)

It might be some issue with the tilemap itself. Or maybe it is not loaded correctly by phaser. It is hard to say without further information.

[2021-11-07 15:14] ilackarms commented on #207
<img width="1429" alt="image" src="https://user-images.githubusercontent.com/5974898/140650778-24b70616-88c2-4bd6-baa5-ba620d97efaa.png">

this is a screenshot of the map in Tiled. i posted the json here if you think that would help https://gist.github.com/ilackarms/9f810521b9c7798b96d934172208d9c7

setting up the map like so:

[code]

[2021-11-07 15:52] ilackarms commented on #207
removing the 2nd layer in my tilemap resolved the issue. not sure why this fixed things but good enough for me!

[2021-11-07 15:52] #207 closed

[2021-11-07 18:06] Annoraaq commented on #207
Maybe it helps if you create a layer via `createLayer()` for both of your layers like so:

[code]

  You are only doing it for the first one in your code.

[2021-11-07 22:33] ilackarms commented on #207
ahh thank you!

[2021-11-08 04:34] ilackarms opened #208 "any way to get grid location of pointer?"
would be nice for a point-and-click style movement. currently i'm playing with the mapping from pixel location to grid location but for some reason division by tile size isn't sufficient

[2021-11-08 04:52] ilackarms commented on #208
sorry i realize what i was doing wrong was using pointer.x/y should have been using pointer.worldX/Y

[2021-11-08 18:25] Annoraaq commented on #208
So I guess this issue can be closed then?

[2021-11-11 06:18] #208 closed

[2021-11-24 18:24] #198 closed

[2021-11-24 18:25] Annoraaq commented on #206
partially resolved with the layerOverlay feature in version 2.11.0

However, conceptually there is no clear solution to this. For more infos see: https://annoraaq.github.io/grid-engine/features/layer-overlay.html

[2021-11-24 18:25] #206 closed

[2021-11-25 22:37] bloonguyen1207 opened #211 "`getFacingPosition()` returns `Vector2` instead of `Position`"
I'm using the latest version of grid-engine and it seems like `getFacingPosition()` returns `Vector2` instead of `Position`

![image](https://user-images.githubusercontent.com/14237312/143505179-2945fcf4-dc1a-46d3-b0ba-a9c573414035.png)
![image](https://user-images.githubusercontent.com/14237312/143505042-c7802bbc-8292-4474-983f-5710d9cbaa40.png)

[2021-11-26 17:11] Annoraaq commented on #211
Hi @bloonguyen1207. You are totally right.
However, that should not be a big problem because a Vector2 does satisfy the Position interface (that means having an x and y property) or expressed another way: Position is a structural subtype of Vector2. But since Vector2 is not a class that should be exposed it would be better to narrow it down to a position before returning it.

Thank you for the hin

[2021-11-26 19:03] Annoraaq opened #212 "Allow pausing"
Allows to pause gridEngine which means the update method is not called anymore until unpaused.

[2021-11-27 14:34] Annoraaq opened #213 "add `isBlocked` method"
Offer a method that checks whether a particular position on the tilemap is blocked by either a blocking character or a blocking tile.

[2021-11-28 14:49] #213 closed

[2021-11-28 14:49] Annoraaq commented on #213
fixed with 2.12.0

[2021-11-28 14:50] Annoraaq commented on #211
fixed with 2.12.0

[2021-11-28 14:50] #211 closed

[2021-11-29 18:44] Annoraaq commented on #212
Probably not useful because you can simply stop the movement of characters to pause them

[2021-12-05 10:01] blopa opened #216 "Create a new method to move on a specific area?"
Hey. Frist of all thank you for this plugin, I'm using it a lot this year to learn about Phaser.

I have a situation where I'd like to move a character, but move it only in a certain area, to do something like:

![image](https://user-images.githubusercontent.com/3838114/144742004-87b6a5f3-8d93-46da-8926-7dbb3b0aaee3.png)

Do you think you will want to add this to your plugin? Because I know ways t

[2021-12-05 12:02] Annoraaq commented on #216
Hey @blopa, great to hear that you like GridEngine! :)

I am not sure that I understand what you want the method to do.  What would the input parameters of the method be and what should it do exactly?

[2021-12-05 17:05] blopa commented on #216
Hey. Sorry. Let me elaborate.

Let's say we have this situation where I have a character and I want it to go to the X location:
![image](https://user-images.githubusercontent.com/3838114/144755988-957f3971-9f64-4e66-aa53-149f6caa94e6.png)

So usually, it would take this path:
![image](https://user-images.githubusercontent.com/3838114/144756030-ca89af2d-38ef-4534-b884-f47f35432899.png)

But I want

[2021-12-06 18:04] Annoraaq commented on #216
Now I understand. I think that would be useful feature for the plugin. I have to think about the best way to enable it.

One idea is to be able to pass a function as an argument to `moveTo` that specifies whether a certain grid position is allowed for pathfinding or not.

[2021-12-20 19:32] jtopaz1 opened #217 "Mouse click moveTo / addCharacter & removeCharacter questions"
Thank you for your efforts and hard work in creating this great software.

(1) I try to use mouse click (instead of use keyboard) to move the player. Is there any function to convert mouse X, Y to map X, Y?
This is my code:

[code]

(2) I use "addCharacter" to add character id = "npc". When I try to "removeCharacter" using id = "npc" again, it throw "Uncaught Error: Character unknown: npc". This i

[2021-12-20 19:39] meta3d-ai opened #218 "Map Editor Question"
"Tiled Map Editor" and it use Qt.
Is there any JavaScript/TypeScript map editor I can use for "grid-engine"? (I want to embed the editor in my game)

Thanks

[2021-12-20 23:34] k88885180 opened #219 "setting collision between specific characters"
how can I set up collision between specific player character and npc, or player and objects, so that players cannot walk over it? (See attach for example)
![1639985476938](https://user-images.githubusercontent.com/60676550/146846461-a55e5a2a-d4b7-4c6e-a702-aec2821e2389.gif)
?

[2021-12-21 17:35] Annoraaq commented on #217
Hi @meta3d-ai,

(1) see #208

(2) Are you sure that the removeCharacter call itself is causing the error?  It works fine for me. You might have some other call that you are doing on the remove character that is causing this message. For example if you removed the character and afterwards try to call move() or moveTo() on it. If not, can you provide a complete and minimal example that breaks the me

[2021-12-21 18:41] meta3d-ai commented on #217
Thank you for the reply.

I just try question (3) teleport. I load another scene (the same step loading the beginning scene). However, there are 2 problems:
(a) character and object in the first scene remain on the screen. Is there any function to clear all data in the gridEngine before loading a new scene (I try removeAllCharacters, but it does not remove character)?
(b) Before loading a new scen

[2021-12-21 20:37] Annoraaq commented on #218
Hey @meta3d-ai

(1) I don't know one but you could check the phaser forum for that. GridEngine does not need Tiled to be the map editor. It only needs to be a phaser tilemap.

(2)
#### 2.1 Can I use "Tiled Map Editor" for Isometric?
Yes, Tiled supports isometric maps.

#### 2.2 Are all the functions (like layers, collisions..) work in Isometric?
All this functionality should work for isometric as

[2021-12-21 20:42] Annoraaq commented on #219
Hey @k88885180

collisions with objects can either be achieved by using the tilemap like explained [here](https://annoraaq.github.io/grid-engine/usage/collision.html) **OR** by placing objects as if they were characters. Just use gridEngine.addCharacter() and make sure you set `collides` to true in the character config.

Characters are colliding with each other automatically if they have the `coll

[2021-12-21 20:48] Annoraaq commented on #217
If the character remains on the screen, that means that the Phaser.Sprite is still loaded. This is independent of GridEngine.

However, GridEngine demands that you call GridEngine's create() method in the create() method of the Phaser.Scene.
If you call `removeCharacter` you are only removing the character from GridEngine. The sprite still exists and you have to destroy it yourself.

Can you provi

[2021-12-22 01:43] k88885180 commented on #219
Thanks so much for the quick response! On the same subject, is there a way to only set collision to specific groups of characters? As in, have players not collide with npcs, but both groups collide with objects (for example, players can walk past npcs, but neither can walk past trees).

[2021-12-22 17:29] Annoraaq opened #220 "Add collision groups for characters"

[2021-12-22 17:29] Annoraaq commented on #219
While there are no collision layers yet, there is a feature that is called [character layers](https://annoraaq.github.io/grid-engine/features/character-layers.html).

While I think collision groups are a cool feature for the roadmap (in fact I just added this #220), you can achieve this with a workaround:
You could have one character layer for players and one for npcs. Then npcs would collide with

[2021-12-24 04:19] k88885180 commented on #219
I see, thank you for the suggestion, I'll try this for now. Looking forward to this feature in the future!!

[2021-12-24 21:06] jtopaz1 opened #221 "Isometric Offset Problem"
Thank you for the detailed reply in [last post](https://github.com/Annoraaq/grid-engine/issues/218#issuecomment-999078235). I decide to use Isometric.

I try layers function in Isometric. However, I find out the game scene is different from the "Tiled Editor" scene.
I find out for Isometric, there is 2 extra fields "offsetx" & "offsety" in the "Tiled Editor" output json file. I try to search "grid

[2021-12-28 11:20] Annoraaq commented on #221
The representation of the tilemap in phaser is completely independent of GridEngine. GridEngine however, is responsible for placing and moving your characters. If the characters seem to be off, that could be solved by using `offsetX` and `offsetY`: https://annoraaq.github.io/grid-engine/api/config.html#characterdata

If layers are not shown correctly from Tiled, make sure you are using https://pho

[2022-01-24 18:52] Annoraaq opened #222 "Simplify tests"

[2022-02-07 16:46] Everston opened #223 "Characters that Span Multiple Tiles"
I was curious to see if multi-tile characters have been considered for the engine.

The biggest use case is allowing for more expressive art styles. For example if you were able to set a character as spanning 2x2 tiles, the world could be built from tiles one quarter of that size, allowing for detailed features with matching collisions.

Additionally this would also allow for things such as large

[2022-02-08 17:50] Annoraaq commented on #223
They have not been considered, yet. But I think it is a good idea. I will put it on the roadmap.
You can already add a larger sprite to the engine and center it by using the `offset` settings of GridEngine. However, collision-wise the character will only be located on a single tile at the moment.

But I think there are valid use cases for a character to cover multiple tiles for collision (like the

[2022-02-09 13:17] Mteuahasan opened #224 "Character is not on given coordinates"
I am facing an issue making a multiplayer game with Grid Engine. Here is what I'm doing :

1 - Moving my local player with the `move()` function.
2 - Getting the new position with the `getPosition` method.
3 - Sending the new position to other clients
4 - When receiving new position : calling `moveTo` to the proper character.

Doing so, I can observe an offset between received position and the act

[2022-02-11 08:46] Mteuahasan commented on #224
Indeed, the position if correct but not the sprite. In fact, I think that you can forget everything I wrote about sending and receiving positions as only my local user seems to have this problem.

I did not try to play around with offsets as indeed, the position is initially correct then change after a movement is made.

I guess that I have no physics as I use [Phaser.GameObjects.Sprite](https://p

[2022-02-11 18:44] Annoraaq commented on #224
Since I can't see how it is supposed to look like: is the sprite misplaced by a whole tile or only by a fraction of it?

Is it possible for you to provide a minimum example that has this behavior? I can't reproduce this yet.

[2022-02-12 17:54] evan-boissonnot opened #225 "How to truely remove a character from the scene with grid engine"
Hi

When I use :
`this.gridEngine.removeCharacter(id)`, it is not remove the character from the scene.

I mean after calling this method, I can yet see the character in the tilemap.

How can I properly remove a character ?

[2022-02-12 20:37] Annoraaq commented on #225
Hi @evan-boissonnot,

by calling `removeCharacter(id)` you are removing it from the GridEngine. What remains on the screen is the sprite. You can remove it like any sprite in phaser (for example by calling `destroy()` on it like [http://labs.phaser.io/view.html?src=src%5Cinput%5Cgame%20object%5Cdestroy%20sprite%20on%20down%20event.js](here)).

GridEngine does not handle the destruction of the spri

[2022-02-14 10:15] Mteuahasan commented on #224
It looks like it is misplaced by a full tile.

I did a quick and dirty fix that re-sync the sprite like this :

[code]

I'll try to make an example but as my application is quite huge it may take some time to make it mini.
I'll keep you posted, thanks !

[2022-02-14 18:05] Annoraaq commented on #219
Hey @k88885180, I think I will start working on it now. There are more people asking for it so I think it should be the most important thing. I think it should be finished soon 👍

[2022-02-14 18:08] Annoraaq commented on #224
So that makes it unlikely (while not impossible) that it has to do with Phasers physics engine.

It can either be a bug in GridEngine or some part of your game is changing the coordinates of the sprite directly at some point. Hard to say.

[2022-02-15 10:04] evan-boissonnot commented on #225
Hi,

OK, many thanks. I have tried and everything is ok !

By the way : it's a really great job your grid engine, I like it so much !

[2022-02-15 17:47] #225 closed

[2022-02-25 18:53] zewa666 opened #227 "interactions with facing tile"
let me first say that this is an awesome plugin adding so much value to phaser for top down based rpgs.

I'm not sure if this feature request actually belongs/makes sense for this plugin but it would be great if there would be support for interactions with the facing tile upon:

* bumping into with collisons
* stepping onto it (much like the already existing sample)
* a hotkey click (e.g X on game

[2022-02-25 20:32] zewa666 commented on #227
what I have currently is:

[code]

[2022-02-25 21:07] zewa666 opened #228 "Turn to target direction instead move"
the way the tile moving is implemented I guess you throttle subsequent update move calls and merge them into one tile move.

now what I'd like to achieve is that if player faces LEFT and the right arrow key is pressed a single time, instead of moving the character to the right it should be just turned to RIGHT. Holding the key should turn and move.

Havent found yet a suitable way to express that,

[2022-02-26 13:32] Annoraaq commented on #228
Hey @zewa666, could the [turnTowards(...)](https://annoraaq.github.io/grid-engine/api/methods.html#turntowards) method be what you are looking for?

[2022-02-26 13:47] Annoraaq commented on #227
Hey @zewa666, I am very happy to hear that you like GridEngine 🙂

What is it exactly that you suggest GridEngine to do? Is it only the translation from tile coordinates to pixel coordinates?
In that case I think it is best to use Phaser's [tileToWorldXY(...)](https://photonstorm.github.io/phaser3-docs/Phaser.Tilemaps.Tilemap.html#tileToWorldXY__anchor).

I am not sure what you mean by `bumping int

[2022-02-26 13:55] zewa666 commented on #227
sry if my questions are unclear, I'm still getting used to Phaser and this whole topic ;)

tileToWorldXY is definitely helpful thx for that hint.
With bumping into I meant that the object has collision but does not only cancel the move but also fires an event so that I can infer the character moved/bumped into it. Stepping into is exactly as your  example depicts and for facing tile I did as shown

[2022-02-26 13:57] zewa666 commented on #228
yes I tried that but whats funny is that a short keyup on e.g. RIGHT actually enters 4 times my update method so it turns and then also moves

[2022-02-26 14:12] Annoraaq commented on #227
I think I understand now. So generally speaking there might be more built-in ways to interact with objects or characters. But the Plugin is intended to focus on tile-based/grid-based actions only. So interaction with objects will also only  be on the tile level. That means, the plugin will provide interactions that are between game objects or characters that are registered to the plugin at a certa

[2022-02-26 14:16] Annoraaq commented on #228
Oh, so then the problem is more that you are looking for a way to only react to a keyup event once? Phaser provides this useful method for this case: https://photonstorm.github.io/phaser3-docs/Phaser.Input.Keyboard.html#.JustUp__anchor

[2022-02-26 15:27] zewa666 commented on #227
exactly as you said I wasnt sure initially whether this really belongs to the plugin. as mentioned I'm at the begin of Phaser learning and tile vs object layers and how everything is connected is still something I need to wrap my head around :) let me just say your Medium article introducing the grid-engine was the most helpful resource I found to get started. great job there.

Adding objects woul

[2022-02-26 20:12] zewa666 commented on #228
ok so while it didn't directly helped me it at least clarified the issue is not with grid-engine but with another plugin I'm using. Thx and sorry for bothering you on this one

[2022-02-26 20:12] #228 closed

[2022-02-27 08:26] Annoraaq opened #229 "Introduce Game Objects"
Characters are not the only objects one likes to interact with on a tile level. In most games there are also objects like chests, doors, switches and so on. Therefore it should be possible to add "GridObjects" to the map. These can be the base for adding built-in interactions on these objects in later steps.

See also #227

[2022-02-27 08:28] Annoraaq commented on #228
No worries. Happy to help!

[2022-02-27 08:46] zewa666 commented on #227
awesome, closing this issue in favor of the new

[2022-02-27 09:22] zewa666 commented on #222
could you elaborate whats on your mind with this issue?

[2022-02-27 15:41] Annoraaq commented on #222
This is only for simplification of the unit tests. So while not having any influence on the functionality of the plugin, it will influence the speed of future development.

[2022-02-27 15:42] Annoraaq commented on #217
@jtopaz1 Can I close this issue?

[2022-02-27 15:43] Annoraaq commented on #221
@jtopaz1 Can I close this issue?

[2022-02-27 15:43] Annoraaq commented on #218
@jtopaz1 Can I close this issue?

[2022-02-27 15:52] zewa666 commented on #222
I understand. My question was more with regards what those kind of simplifications would be. looking at how you structured your jest tests I felt they already look pretty decent.

[2022-02-27 16:09] Annoraaq commented on #222
Oh I see. The main thing would be to get away from the intensive use of stubs. Of course they have their place and should not be abandoned at all but the style in the unit test so far has been to stub anything besides the class under test.

That lead to some problems and I wanted to replace the stubs in many places where they only stub classes that also belong to GridEngine.

There are different o

[2022-02-27 16:46] zewa666 commented on #222
yep thats what I've assumed you were after. looking at e.g the GridEngine tests there is a bunch of stubbing + mocked modules going on. the lack of an IoC container for sure promotes the use of stubs vs manually crafted class fakes.

if its solely due to LOC used for mocking/stubbing you could perhaps go down jests automock route where every import/dep gets as the name suggests automatically mocke

[2022-02-27 20:19] Annoraaq commented on #222
LoC was not the main thing I had in mind. I think that many tests in the case of this plugin would actually profit from the more integrative testing that would follow from replacing the stubs not only by fakes but by the real implementation. For example the tight interaction between GridTilemap and GridCharacter would profit from that. Using only stubs binds the test strongly to the concrete imple

[2022-03-02 18:29] Annoraaq commented on #220
closed with 1.13.0

[2022-03-02 18:29] #220 closed

[2022-03-02 23:35] evan-boissonnot commented on #220
Hi.

How can I manage collision group, and collision group detection from grid engine ?

[2022-03-03 11:38] evan-boissonnot opened #235 "Interact with collision event ?"
Collision is ok in our game.

But, I want to go to other scene (start a new one) when colliding on a house (for example).
How can I detect it using grid engine ?

Is it possible ?

I see some of yours answers about position changed, but I don't like this approch.
But maybe it's the only way ?

[2022-03-03 16:06] zewa666 opened #236 "moveTo always results in NO_PATH_FOUND"
hey there, as the title suggests when I try to use moveTo on either the player or an NPC I always get above issue which I see after subscribing to the method.

any ideas where I should look at (most likely I'm doing something wrong) to track the issue down?

[2022-03-03 17:12] zewa666 commented on #235
hey there I think this also goes a bit in the direction of what I've asked here https://github.com/Annoraaq/grid-engine/issues/227

currently my workaround is also tile based where I check the position and according to that react based on the tile

[2022-03-03 17:15] zewa666 commented on #219
@k88885180 i just had the same situation today where I wanted friendly NPCs to be able to walk through the player and the new collision group feature makes this easily doable https://annoraaq.github.io/grid-engine/examples/collision-groups.html

[2022-03-03 19:08] zewa666 commented on #236
alright I'm entirely sure I've tested that but whatsoever. Seems the only reason was that I was pointing the NPC to a blocked tile. So since the target would collide it determined not to move. Guess I'll have to calculate the next free neighbor.

Would you see some of these helper utils fit the grid-engine? Like `getFreeAdjectentTiles(tile, charId)`. CharId included because it would perhaps need t

[2022-03-03 20:13] Annoraaq commented on #235
Hey, so the short answer is that there is currently no other way to detect that. To evaluate on a new feature for that, it would be interesting to know what exactly 'colliding' means in your case. In GridEngine it simply means that a tile position is "blocked" for a character. So it is kept from moving to that position.

So one possible definition of collision in your example could be:

Character

[2022-03-03 20:14] Annoraaq commented on #220
Hey, you can pass the collision groups by passing a [CollisionConfig](https://annoraaq.github.io/grid-engine/api/config.html#collisionconfig) object to the character configuration. You can also check out the [collision groups example](https://annoraaq.github.io/grid-engine/examples/collision-groups.html).

There are two more methods for accessing or setting the collision groups of a character:
[ge

[2022-03-03 20:16] Annoraaq commented on #219
I will close this issue because it is solved with collision groups in 2.13.0.

[2022-03-03 20:16] #219 closed

[2022-03-03 20:31] zewa666 commented on #218
with regards to tile map editors which are web-based take a look at this one perhaps http://riskylab.com/tilemap/ havent tried it myself though tbh

[2022-03-03 20:31] Annoraaq commented on #236
Hey @zewa666, do I understand correctly that you are looking for a convenient way to move it to the next free neighbor instead? There is already a configuration for the `moveTo` method. Just pass a [MoveToConfig](https://annoraaq.github.io/grid-engine/api/pathfinding-configuration.html#movetoconfig) object with `NoPathFoundStrategy` set to `"CLOSEST_REACHABLE"`.

The general strategy of prioritizi

[2022-03-03 20:35] zewa666 commented on #236
awesome, thx for the heads up with CLOSEST_REACHABLE. was fun to build it by myself but I'll gladly switch to your premade solution :)

also thanks for clarifying your strategy with the engine.

[2022-03-03 20:35] #236 closed

[2022-03-03 22:19] evan-boissonnot opened #237 "How can I get other custom properties from tiles tilemap ?"
I want to add others properties (more than ge_collide).
For example, I want to add a next_scene propertie.

How can I get this information from grid_engine when I get a collision between player and a tile ?

[2022-03-04 13:29] zewa666 commented on #237
i think you should be able to grab them from your tileMap using `getTileAt(tileX, tileY, [nonNull], [layer])` and than looking into `properties`

[2022-03-05 07:44] Annoraaq commented on #235
I think in a pixel based phyiscs engine the problem is a bit easier. As far as I know it will see something as colliding if it oberlaps or at least "touches".

However in a tile/grid based world overlapping means both objects are on the exact same position and "touching" means you they are at neighboring positions. Both options are probably not what you want, correct?

[2022-03-05 08:10] evan-boissonnot commented on #235
Today, I'm trying to add new Layer on my game.
This layer will present all specifics objects I added :

The purpose of these objects : add custom areas to decide when I can detect objects collision.
![image](https://user-images.githubusercontent.com/26603619/156874545-468f15c1-681e-4fd0-accf-a3798f802ee0.png)

I'm not interested about position : I just want when my player collider specifics object

[2022-03-05 08:30] zewa666 commented on #235
@Annoraaq and @evan-boissonnot I think this now exactly goes in the direction of what we've been talking before with letting the gridEngine "understand" objects and than later on have events for "touching" ( neighbor) and "overlapping" (same tile) which could be two different observables so the user can chose whatever he prefers.

[2022-03-06 22:59] evan-boissonnot commented on #235
Hi,
to be more precise :

Today, I have tried to use :

this.map.objects.forEach(element => {
                this.doors = this.map.createFromObjects(element.name, {
                    name: 'door'
                });
});

And with these objects (from object layer), I have tried to add a collision detection, to go to other scene ...
doesn't work :(

The door sprite (created from Phaser), was not

[2022-03-07 18:23] Annoraaq commented on #235
I think there are two different problems here:

1. GridEngine objects that have observables you can subscribe. These could tell you whether some character entered a neighboring position or entered their position. That is part of #229 and can already done in a less convenient way by using the positionChanged observables of the characters.

2. Creating sprites from Tiled object layer objects in Phas

[2022-03-07 18:28] Annoraaq commented on #237
You can't get this information from GridEngine, because is is a feature of phaser tilemaps. @zewa666 is right, you can use the `properties` property of [LayerData](https://photonstorm.github.io/phaser3-docs/Phaser.Tilemaps.LayerData.html)

[2022-03-07 21:39] evan-boissonnot commented on #235
Many thanks @zewa666 and @Annoraaq

What you say both is the other way I will try.
As you said, it's the only way with grid engine motor.

But, I don't like the idea to check position.

Collision events are better performance.

[2022-03-08 16:08] Annoraaq commented on #235
I don't think that collision events necessarily have better performance. The above `getFacingObjects()` implementation runs in `O(c*o)` where `c` is the number of characters and `o` the number of objects. But you could optimize it by not checking **all** the objects every time. Instead you can keep a hash map that stores all objects for a certain position. Then after every position change of a cha

[2022-03-08 16:17] Annoraaq opened #238 "Add TSDoc"
Add TSDoc to the exported methods in GridEngine.ts

[2022-03-08 17:13] zewa666 commented on #235
yes very good point. please dont take my example for prod ready. it was merely to depict the idea of how and where to grab data. of course as @Annoraaq suggested you would want to optimize the object retrival plus. plus, if objects are static, one could also memoize lookups for a given facing position and thus even further reduce lookup time.

[2022-03-08 17:19] zewa666 opened #239 "moveTo return promise/obs to indicate done"
i have often in my game the need to perform either an emote or changing the facing direction after a finished move. E.g I can order an NPC to start gathering resources at XY and once he arrives there he/she confirms the action.

i have a helper like this

[code]

and wondered whether moveTo could return either a promise (preferably) or obs so that can be handled in one go?

[2022-03-09 16:18] Annoraaq commented on #239
`moveTo()` already returns an observable: https://annoraaq.github.io/grid-engine/api/methods.html#moveto
It should do just what you need.

[2022-03-09 16:30] zewa666 commented on #239
hmm I could swear I checked the return type of the function and it said void. Will double check it later. thx for the hint

[2022-03-09 20:06] zewa666 commented on #239
I'm sorry it seems my vscode project had some troubles. after a wipe of npm_modules and re-installing I can see the intellisense suggestions now properly and the returned obs.

[2022-03-13 18:54] zewa666 commented on #239
hey @Annoraaq, I've just realized it's not exactly the same as my `waitForCurrentMovementStopped` example above. The observable fires way too soon even though the movement is not yet finished.

[2022-03-13 19:23] Annoraaq commented on #239
Hey @zewa666.

You are right, the observable emits when the movement starts. It is like `positionChangeStarted()` in that sense.

I am not sure whether it would be a good idea to change that because in case you need it to emit on `positionChangeStarted`, you could not get that anymore.

Or to put it another way: it is easy to change the observable to wait for `movementStopped`. But if it emits whe

[2022-03-13 20:24] zewa666 commented on #239
exaclty what I wanted to propose with the config override. The description of the method gave me the wrong impression

so it sounded somewhat as after done. but to male things easier, keeping the current behavior and adding a config option would be definitely helpful as it saves a couple of operator imports and LOC

[2022-03-14 18:34] Annoraaq opened #241 "Extend MoveToConfig with option to control finishing observable"
Add an option to MoveToConfig that controls, when the finishing observable will emit: at the beginning of the last movement or at the end. See also #239

[2022-03-14 18:34] Annoraaq commented on #239
I created an issue for that #241

[2022-03-14 18:34] #239 closed

[2022-03-14 18:35] #217 closed

[2022-03-14 18:35] #221 closed

[2022-03-15 11:20] zewa666 opened #242 "Save / Load state of grid engine"
Hey there @Annoraaq.

My game is progressing and I'm starting to think about creating a save/load feature. The most simple case I could think of would be to create a full dump of the games state along with an load feature to read a json to restore a state. So conceptually the workflow would be:

* To save: At any given state of the game run something like `this.gridEngine.save(opts?) -> json`.
* T

[2022-03-15 19:23] Annoraaq commented on #242
Hey @zewa666. I can think of two complex things when storing the state of GridEngine. These are

1. Ongoing movements like `moveTo()`
2. Unfinished movement animations

With ongoing movements I mean that if you want to save the game while a character is still moving towards a target position or is within an ongoing random movement step, then this information has to be stored as well.

With unfinis

[2022-03-15 19:31] zewa666 commented on #242
good thinking. yeah I'm pretty sure for typical basic scenarios what, at least I would like to have, is the position of the character as well as their facing position. any movement would get the last full tile location. so if in between either the start or the next full tile the player is at. but I would be also totally fine skipping movement alltogether and acting as if it dodnt happen while a sa

[2022-03-15 19:37] zewa666 commented on #242
just to give a bit more of insights. I'm currently introducing a state management library (aurelia-store) where I'd make sure to keep track of all my scene custom objects states (resources collected, ingame time ...). the current state would than be simply enriched with the gridEngine internals and than serialized into localstorage. on hydration I'd apply the initialState with the one from localSt

[2022-03-16 18:08] Annoraaq commented on #242
Regarding the sprites, I would not export them with GridEngine because GridEngine only uses sprites that you have to create outside from GridEngine. So the control over the sprites should not lie within GridEngine.

But it is an interesting question how the serialization method would deal with the sprites then, because GridEngine only has references to the sprites and these will not be valid anymo

[2022-03-16 19:05] zewa666 commented on #242
fair enough, but the trouble is with said methods its A cumbersome to get every individual state property and B not every state can be queried as far as I saw (speed, offset, ...)

so how instead of serialize/load a `getState` and `setState` method would work on primitives excluding PhaserObjects like sprites, tilemaps etc. this way I could:

* serialize my e.g NPC class, enriched with `gridEngine

[2022-03-16 19:29] Annoraaq commented on #242
You are right. That is something that should be added to GridEngine anyway.

Maybe a `getCharacterState(...): CharacterState` object would be helpful then? It could give you the character state so you don't have to assemble it yourself with the individual methods. It could or could not include the sprite and container reference. Maybe it would be good to provide it. You can still remove it for ser

[2022-03-16 19:40] zewa666 commented on #242
yep, that's what I meant with my `getState` example. This way the contract between the users game and gridEngine continues to exist based on get/set methods. So it would be `CharConfig & { missingPropsLikeFacingDirection }`? While I still think it would be good to separate references (everything Phaser...) and state, as you mentioned the consumer can make sure to exclude not-desired props from ser

[2022-03-16 21:04] #235 closed

[2022-03-17 19:54] Annoraaq commented on #242
`CharConfig` could also be extended by the facing direction (and whatever else is missing). Then `CharacterState` could be replaced by `CharConfig`. `setCharacterState(...)` could also be useful. Maybe with `Partial<CharacterConfig>` as an argument, so you can provide only those properties that you want to overwrite and the others will stay the same. I would say it can only be applied to an alread

[2022-03-18 05:34] zewa666 commented on #242
Agree with all points you made.

and staying future-proof is the exact reason I was heading for these helpers vs having to call individual methods.

[2022-03-19 21:55] zewa666 opened #244 "[convenience] Subscribe Tiles entered"
Hey there @Annoraaq.

This one falls under the category of convenience methods, as such fully understandable if you dont see this as a good fit or bloat of public API.

 It would be great if one could setup a subscription if one or more positions are being stepped on by one or more characters in order to trigger an action.

E.g I have a randomly generated dungeon where if the player steps on the s

[2022-03-20 14:26] Annoraaq commented on #244
👍 seems like a reasonable helper.

[2022-03-21 19:11] Annoraaq opened #246 "Introduce TypeDoc"
Replace the API section of the documentation with TypeDoc generated from TSDocs. This makes documentation easier, keeps docs close to the code and avoids duplicate documentation.

[2022-03-21 19:12] #238 closed

[2022-03-22 21:07] Annoraaq opened #247 "Add serve directory for easy development"
A `serve` directory will be added, that includes a basic example. When `npm run serve` is executed, it will start up a webserver with the basic example running. When any code changes to the GridEngine source are made, the example is updated automatically and after a browser refresh the new code changes are applied.

[2022-03-22 22:54] ok1a commented on #241
Any chance we could add an option to MoveToConfig that allows us to define whether it should be 4dir walk or 8dir walk? Similar to https://github.com/Annoraaq/grid-engine/discussions/249

[2022-03-23 17:00] Annoraaq commented on #241
Good idea. See [my comment here](https://github.com/Annoraaq/grid-engine/discussions/249#discussion-3955888).

[2022-03-23 17:02] Annoraaq opened #250 "Allow NumberOfDirection setting on character and movement level"
See #241 , #249

[2022-03-25 20:32] Annoraaq commented on #241
Closing this because it will be solved with #250

[2022-03-25 20:32] #241 closed

[2022-03-25 20:33] Annoraaq commented on #237
@evan-boissonnot can I close this?

[2022-03-26 12:03] atnpgo opened #254 "Height shifted layer appear at the wrong depth under certain conditions"
When a character comes from a tile higher than the tile on the height shifted and goes one tile down past the the hight shifted tile, then comes back up before going behind it, the tile shows up behind the character when it should show up in front.

Since the description of the issue is somewhat weird and is needed to reproduce the issue, I've included a screen recording from the demo code in the

[2022-03-26 13:12] Annoraaq commented on #254
Thanks for reporting and also providing a good example. I will have a look at that.

[2022-03-26 14:03] Annoraaq commented on #254
Should be fixed in 2.13.4

[2022-03-26 14:03] #254 closed

[2022-03-26 20:33] KaeruCT opened #257 "Collision detection shifted when diagonal movement is enabled"
Hi! Thanks for your work on this plugin. I'm having a great time building my game with it.

I found an issue when diagonal movement is enabled. I was able to reproduce this on [one of the demos](https://annoraaq.github.io/grid-engine/examples/8-directions-move-to.html) in the documentation site.

To trigger this bug, find something you can easily walk around. I used one of the statues in the cloud

[2022-03-26 21:10] zewa666 opened #258 "Deactivate collision on individual locations"
Hey there. What would be the best approach to deactivate/activate collisions for an individual Position[] dynamically?
My use case is the following:

As shown in the image, I have predefined slots (1) where buildings can be constructed. So what I do is that I've already created the tiles for the building but used `setVisible(false)` on them. So at that moment those invisible tiles should be non-co

[2022-03-27 07:07] zewa666 commented on #222
having written the test for the steppedOn feature I kind of start to get the feeling what you're saying. Having to mock an observable with a Subject vs simply calling moveTo and letting the actual positionChangeFinished fire is a bit tedious.

An integration test feels hard to create whereas an E2E test might actually be easier. So my thoughts for my specific test would be:
* create a demo game (l

[2022-03-27 11:58] Annoraaq commented on #244
closed with 2.14.0

[2022-03-27 11:58] #244 closed

[2022-03-27 12:04] Annoraaq commented on #258
I see two solutions but there might be more:

### 1. Collision layers

You could use [collision layers](https://annoraaq.github.io/grid-engine/usage/collision-layers.html) for the collisions on your tilemap. Or simply use a collision layer additionally to your colliding tiles that will be invisible in your game. You could then dynamically change the tile at the desired position to either a collidi

[2022-03-27 12:20] Annoraaq commented on #222
I think having some central e2e tests can be quite useful. I thought about E2E tests for some important activities like those in the examples.

I see E2E tests as something to have additionally to the unit tests.

So what I was thinking when opening this issue was to simply reduce the mocking/stubbing to external components. So as an example: to make the unit test that you wrote more simple and ro

[2022-03-27 13:46] zewa666 commented on #258
alright, I think I'll try with the collision layer as that feels like a great addition to the current ge_collide behavior

[2022-03-27 13:46] #258 closed

[2022-03-27 19:08] zewa666 commented on #242
just a quick look into the internals shows that `CharacterData` is actually the right interface to take as it's both fully documented, already used during create phase and includes all the properties necessary.

[2022-03-27 19:38] zewa666 commented on #222
I'm not 100% sure I follow your idea of the test harness (guess you meant Material Components Harness). If I understand properly it's merely a test adapter/shim which delegates UI interactions to it's host. So in your example the GridCharacterHarness would do exactly what? Use a GridEngine Mock as Host and delegate/rewrite direct interactions (Move, Stop, Animate ...) to the GridEngine? Perhaps I'

[2022-03-28 17:59] Annoraaq commented on #242
Sounds good.

About the setter object. How about making it Partial<CharacterData> instead? `setCharacterState()` can only be used on an existing character, so it is fine to have only optional properties, because the existing chars already has values for everything. Moreover it keeps you from removing the `id` property from the characterData object, which would be the case if you use it to set a st

[2022-03-28 18:15] Annoraaq commented on #222
No worries. I did not understand it 100% either 😄

I have to think about it and play around with some code to see whether it is really feasible or a dead end.

You are right, I meant Material Component Harnesses. They are actually based on the [page object](https://martinfowler.com/bliki/PageObject.html) pattern. It means that you encapsulate the behavior of the UI in the harness (the page object)

[2022-03-28 18:19] Annoraaq commented on #257
Thanks for sharing! I will take a look at this. 👍

[2022-03-29 17:21] Annoraaq commented on #257
I can't reproduce this issue. I've tried a lot in Chrome and Safari. It might be related to #224, which I also could not reproduce.

@Mteuahasan, since you were having a similar issue, can you reproduce this on the [example](https://annoraaq.github.io/grid-engine/examples/8-directions-move-to.html)?

[2022-03-31 19:00] Annoraaq opened #260 "Add custom collision group relation"
See #259

[2022-04-03 10:55] Annoraaq opened #263 "Show version in console"
Show GridEngine version in console for debugging purposes.

[2022-04-03 11:03] #246 closed

[2022-04-06 06:26] zewa666 opened #265 "Observable emitting character modifications"
Hi @Annoraaq,

my use case stems from the DevTools extension. It would be helpful to have an observable that fires when a character is deleted/added, so that I can update my select options accordingly.

Do you feel this is too specific and has not a real value for typical users? There would be alternatives for the extension like Monkey Patching the methods or observing the characters array via pol

[2022-04-06 15:05] Annoraaq commented on #265
I think it is useful to offer those observables. They can be used for tools like yours and also for debugging.

[2022-04-06 17:54] Annoraaq opened #266 "Add grid-engine-devtools link to readme and docs"

[2022-04-06 18:09] Annoraaq commented on #266
@zewa666 fyi

[2022-04-06 18:09] #266 closed

[2022-04-08 20:13] #265 closed

[2022-04-09 13:57] zewa666 commented on #263
It would be also great if you could put the number inside a property of the GridEngine instance as well. It would be very helpful for feature detection, for example in the DevTools, where I currently test for the presence of a method before using it.

[2022-04-10 11:22] Annoraaq commented on #263
Yes, good point. I will expose the version as a string. For example "2.14.1".

[2022-04-10 12:20] zewa666 opened #269 "Moving to a random location"
Hey there,

I'm kind of finishing my building-construction part of the game and have an interesting challenge. Take a look at the picture below.
![move-to-free-space](https://user-images.githubusercontent.com/2861414/162617434-9c90959b-c35f-436d-ba17-bcdd078eaec6.png)

So while a construction site is in state `not-built`, all the tiles have their `properties.ge_collide` set to `false`. Once I star

[2022-04-10 12:24] zewa666 commented on #258
Just to come back with my results. The approach I took was even easer. While setting the tiles to setVisible(false), I've also set their `properties.ge_collide` to false. And when starting the construction vice versa

[2022-04-11 19:27] Annoraaq commented on #258
That's interesting. Unfortunately in Tiled you can only set properties in the tilemap and not for individual tiles afaik. But in phaser you seem to have more freedom.

[2022-04-11 19:45] Annoraaq commented on #269
Interesting case.

What you could do right now as workarounds:

1. Use [NoPathFoundStrategy CLOSEST_REACHABLE](https://annoraaq.github.io/grid-engine/typedoc/enums/NoPathFoundStrategy.html#CLOSEST_REACHABLE). But if the tiles of the building are not yet blocked it might lead your char to a point still inside the building.

2. Use [NoPathFoundStrategy STOP](https://annoraaq.github.io/grid-engine/ty

[2022-04-11 19:48] Annoraaq opened #270 "Expose pathfinding"
Expose pathfinding algorithm. See #269

[2022-04-11 19:48] Annoraaq opened #271 "Provide a new NoPathFoundStrategy that allows alternative targets"
See #269

[2022-04-11 20:57] zewa666 commented on #269
well my naive approach would be to take all the surrounding tiles that are free (no NPC and no blocking object on them) and than Math.random select one and pass to moveTo. the proposed NOPath Stop would be the cherry on top. So that somewhat sounds like option 2.

Option 3 sounds like what I had kind of in mind originally

Option 1 is actually a quite interesting approach as I could describe block

[2022-04-14 12:07] ok1a opened #273 "setPosition use results in charLayer reset"
Hi. Tried to dig a bit into the code to find the underlying problem, haven't managed to do so yet.

The problem:
When `setPosition` is used on a player (eg, your own player in a teleport home function), it seems as if the character's `charLayer` prop is forgotten.

Prior to running `setPosition`, a character will be rendered on the map in accordance to their `charLayer` data. After running `setPos

[2022-04-14 12:18] ok1a opened #274 "Creating a follower after using `setPosition` lags the world"
Hi.

I've currently got followers added in my game world. Followers can be added and removed with no problem.

However, when I attempt to use `setPosition` before spawning a follower -- everything functions well until said follower is spawned in. When the follower is spawned in, the world begins to lag uncontrollably.

Here is the bug in action:
https://www.loom.com/share/5a49744b121d44fcad0f423ae

[2022-04-14 12:19] ok1a commented on #273
I added a video to demonstrate this bug in #274

[2022-04-14 13:03] zewa666 commented on #274
@ok1a setPosition takes an optional 3rd param being the layer. have you tried setting that?

[2022-04-14 13:06] ok1a commented on #274
@zewa666 Wow. I have no idea how I missed that.
Seems like that fixed my issues in both #273 and #274, so I'll close these.

I understand it fixing #273, but I'm surprised it fixed #274.

Thanks a lot!

[2022-04-14 13:06] #273 closed

[2022-04-18 18:52] zewa666 opened #275 "Character Depth sorting"
Hi there,

I've just realized my "objects" (3), which are characters themselves, are behaving a bit strange when it comes to order of z-index.
As you can see from the image below the NPC (1), including its name as text in the container, properly overlays the Player (2), but neither Player nor NPC can overlay the object (3).

![depth](https://user-images.githubusercontent.com/2861414/163859114-7e92

[2022-04-19 07:49] Annoraaq commented on #275
Manually setting depth won't work, because the plugin automatically sets the depth based on the pixel position of the character. So characters that have a higher y position (further south on the screen) get a higher z-index.

What is the exact use case you have?
Maybe we can figure out a new feature that could help address it.

[2022-04-19 11:04] zewa666 commented on #275
Both NPC and Player are just default sprites created from the Scene, whereas the object (3) is read from a separate tiled object layer and turned into a gridEngine character. So its sprite most likely comes from a different layer.

y position wise they are all one below the other

[2022-04-19 16:02] Annoraaq commented on #275
Can you check if object 3 is on the same character layer as the other two?

[2022-04-19 17:23] zewa666 commented on #275
I didn't set a charLayer on any of the characters, if that is what you meant.

[2022-04-19 18:09] Annoraaq commented on #275
Then the only difference is that the sprite of object 3 has been created automatically by phaser and not by you via scene?

[2022-04-19 19:18] zewa666 commented on #275
Lol, ok I've now spent an hour trying to replicate my scenario over at Codesandbox (https://codesandbox.io/s/patient-brook-67kmjf?file=/src/index.ts) and it works there :facepalm:

Must be another side-effect over at my side. I'll have to check again properly.

Nevertheless ... one positive side-effect is that I've managed to get a Codesandbox sample going for GridEngine. Having something like tha

[2022-04-19 19:18] #275 closed

[2022-04-20 19:13] zewa666 commented on #275
@Annoraaq I still have no idea why this exactly happened in my game, where my NPCs and Player got a calculated depth of 0 but the objects 2.0001008 ... :man_shrugging:

I got it fixed doing `objSprite.setDepth(0)` after `gridEngine.addCharacter` of the object.

[2022-04-22 08:48] Annoraaq commented on #275
2.xxx makes more sense to me than 0.

Maybe some part of your game is manually setting the depth to 0 somewhere?

If you manually override this for your other chars you might break the depth sorting of GridEngine.

[2022-04-25 01:17] pablobion opened #276 "how do i update the character list inside the gridEngine?"
is there a method to exclude and include sprites from within the list?

the game is multiplayer, so when you enter the create is done

`this.gridEngine.create(cloudCityTilemap, context.gridEngineConfig);`

add/remove index in this array and that it reflects in the gridEngine.

Is there any method that updates the list?

with this I could also update the x and y data of the other players

[2022-04-25 10:54] Annoraaq commented on #276
Are you looking for methods to add and remove characters from GridEngine after initialization? If so there are 'addCharacter' and 'removeCharacter' methods. You can also get a list of all current character IDs: https://annoraaq.github.io/grid-engine/typedoc/classes/GridEngine.html#getAllCharacters

[2022-04-25 11:01] pablobion commented on #276
exactly, I'll try to use it later, thanks for the help!

[2022-04-25 11:01] #276 closed

[2022-04-26 18:49] Annoraaq commented on #274
Maybe there is some bug in `follow()` that makes it slow whenever the character to be followed is on an unreachable char layer. I will check that out. Thanks for letting us know 👍

[2022-04-26 19:21] Annoraaq commented on #274
I could not replicate it. But there are some missing pieces such as:

- How many characters do you have?
- Who is following whom?
- Which parameters are you using for follow?
- Where in your code are you calling it exactly?
- On which character are you calling setPosition?
- How many char layers do you have and on which layers are the characters?
- How large is your map?
- ...

So the best thing w

[2022-04-26 22:01] ok1a commented on #274
Replying because although the above was fixed by specifying the layer when using `setPosition`, I am experiencing a new bug: Creating a character and having them follow me (the WASD moving player)... it works well, until the follower has their path trapped. If follower has path trapped, and cannot proceed, the world will begin to lag after I myself have made 10-30 movements away from the follower.

[2022-04-27 19:34] Annoraaq commented on #274
What parameters do you use for the `follow()` call?

Can you elaborate more on what you mean by "path trapped"?

[2022-04-27 20:14] ok1a commented on #274
For `follow()`, I use the same parameters as I listed prior above.

`this.gridEngine.follow(followerId, playerId, 0);`.
I have verified that this also occurs when using:
`this.gridEngine.follow(followerId, playerId, 0, true);`.

Path blocked/trapped is referring to being stuck behind a collision tile.
I've included a demo below for clarity.
https://www.loom.com/share/f0312f2b88994f52a961c2a87d6dcc

[2022-04-28 16:51] Annoraaq commented on #274
Thanks, I can reproduce this now on a large map 👍 . I will come back with updates.

[2022-04-28 16:58] ok1a commented on #274
I was thinking of handling this locally, in the meantime, by setting a subscription to follower movements and determining the delta between playerPos and followerPos. If the delta was something like +5 or +10 tiles away, I would despawn the follower.

[2022-05-01 15:34] Annoraaq opened #277 "Use Jump Point Search for pathfinding"
Use JPS to make pathfinding more efficient.

https://zerowidth.com/2013/a-visual-explanation-of-jump-point-search.html

[2022-05-01 15:35] Annoraaq commented on #274
I checked it out and indeed the pathfinding is the bottleneck. I was able to optimize it a bit by using bidirectional search instead of BFS (#85). Moreover there were some further optimizations. However, while making it much faster there is still a lag. I think the best optimization is to use [Jump Point Search](https://zerowidth.com/2013/a-visual-explanation-of-jump-point-search.html). I created

[2022-05-05 18:48] notchris opened #278 "Allow player to switch direction on short key press"
Hello, and awesome plugin! Wondering if there is a way to change the player direction on a short key press and stay on the same tile (instead of moving 1-2 tiles).  I was thinking I could override the default movement behavior, but wanted to check if there was a simpler way (couldn't find it in the docs).

Thank you!

[2022-05-05 19:31] Annoraaq commented on #278
Hi @notchris, I also don't know a better way to achieve that. But maybe @zewa666 could find an elegant solution to this?

[2022-05-05 20:25] zewa666 commented on #278
I went with a similar approach though had additionally to care about gamepad justUp simulation which got fixed in the other plugin I've been using + an additional virtual keyboard from the rex plugin

[2022-05-07 00:20] notchris commented on #229
Not sure if this is helpful, but I found it easy to create a tilelayer specifically for items and make a scene reference to that layer and the tilemap. Then to check the tile at the target direction:
[code]

[2022-05-07 00:43] notchris commented on #258
If you make a reference to the tilemap you've created on your scene and the layer of the specific tiles you want to deactivate collision on, you can do:

[code]
This appears to update grid engine as well since it uses a reference to the tilemap.

[2022-05-14 18:51] notchris opened #279 "Create discussion channel for grid-engine"
This is a feature request. Can we create a discord for grid-engine to help answer questions / post snippets & ideas? I'd like to share some of the things I've figured out / ask for opinions on other things. I'm happy to set one up if it does not already exist!

[2022-05-15 07:58] Annoraaq commented on #279
I am not too familiar with discord so I am wondering what the advantages over Github Q&A (Discussions) are.

I want to avoid having two things solving the same purpose.

[2022-05-16 03:45] jonit-dev opened #281 "Dynamically load tilemap for open world games (chunk map loading)"
Hi everyone!

Thanks for this awesome plugin.

I've been creating a open world MMORPG here and I'm using this engine as my base grid system. It's working great so far.

However, I noticed that apparently there's no way for me to update the tilemap passed upon grid creation.

Is there a workaround to update the tilemap on the fly?

I need this because my plan is to fetch map information not at once

[2022-05-16 19:10] Annoraaq commented on #281
Did you try just calling [GridEngine.create(...)](https://annoraaq.github.io/grid-engine/typedoc/classes/GridEngine.html#create) again?

It is a bit cumbersome to get all the character data and reassign it. But does it work?

[2022-05-16 19:20] Annoraaq commented on #229
That is a good approach for now. The game objects will enable more convenient solutions because then GridEngine is "aware" of these objects and not just the tilemap.

[2022-05-17 00:00] jonit-dev commented on #281
Hi Annoraaq, thanks for the quick reply.

I'll try to create it again. I didn't because this is an advanced technique that will be implemented later and I thought about this bottleneck that may arise.

I hope it doesn't crash, but I'll keep you updated.

[2022-05-17 00:01] jonit-dev commented on #281
Let me know if there're new information regarding it.

Btw, here's the video :)

https://www.youtube.com/watch?v=MDoA2gNlTmA

[2022-05-17 16:11] Annoraaq commented on #281
Great project! It is really interesting to see a way to use GridEngine with a server based game. Let us know if you hit any more obstacles so we can find ways to make GridEngine play well with server based games.

I see your concerns with the bottleneck but before rushing to a solution I think we should observe what the pain points are on a concrete example.

[2022-05-18 18:32] notchris commented on #281
@jonit-dev Can you do something like calculate the current offset of the player from the next part of the world, then use putTilesAt in the corresponding area and remove them from the previous?

[2022-05-18 18:35] jonit-dev commented on #281
That's a good idea. I will explore this approach

[2022-05-19 05:41] KaeruCT commented on #257
@Annoraaq sorry for the late reply. This happens to me both in latest versions of Chrome and Firefox on Windows 10.
One way I found it happens more often is to increase the moving speed to something really fast:

[code]

[2022-05-19 18:54] Annoraaq commented on #257
Hey @KaeruCT,

I tried to reproduce it with high speed in MacOs Chrome and with normal speed on a Windows 10 machine but still could not reproduce it within 30 minutes. I assume there is some missing factor that triggers it.

[2022-05-24 05:13] muhifauzan opened #284 "Issue with jest testing"
I'm using `jest` for my project test and I use `grid-engine` for the `phaser` 3 engine. I got this error when trying to write some test for a file that requires `grid-engine`.

[code]

This is my `package.json`

[code]

This is my `jest.config.json`

[code]

I've tried adding `grid-engine` to `transformIgnorePatterns` option

[code]

But still got the same error. I'm not sure if it's an issue with

[2022-05-24 19:19] Annoraaq commented on #284
I am getting similar errors when I tried to upgrade to jest 28. Maybe it has to do with ESM but I am not sure yet. I will let you know when I find something out. You can try as a workaround to downgrade to jest 27.

[2022-06-02 05:35] muhifauzan commented on #284
@Annoraaq I've tried downgrading to `jest@27.5.1`. But now the `jest-environment-jsdom` crashed because of the missing `testEnvironmentOptions` option which was introduced in version 28. The lib apparently doesn't pin the jest version on its end. Removing the affected lib brings me back to the original error.

[2022-06-02 19:16] Annoraaq commented on #284
To my knowledge `jsdom` was integrated in jest until version 28. Therefore you can try to remove `jest-environment-jsdom` from your dependencies (in addition to downgrading to jest 27).

[2022-07-03 19:54] Annoraaq opened #285 "Radius movement is potentionally broken"
The radius movement example does not work as expected.

[2022-07-04 17:09] Annoraaq opened #287 "Removed chars leave memory leak"

[2022-07-04 17:26] Annoraaq commented on #107
Closed with Version 2.17.0.
Be aware that even though characters without sprites can be added, those characters can't be moved in the normal way (calling `move` or one of the automatic movement methods like `moveTo` or `moveRandomly`), but only relocated via `setTilePosition`.

[2022-07-04 17:26] #107 closed

[2022-07-04 17:27] Annoraaq commented on #285
Fixed with 2.17.0

[2022-07-04 17:27] #285 closed

[2022-07-04 18:00] Annoraaq commented on #284
@muhifauzan I was able to resolve the issue within grid-engine by upgrading jest AND rxjs. Maybe that solved your problem, too? Can you try with grid-engine version >= 2.17.1?

[2022-07-04 18:01] Annoraaq commented on #279
@notchris Do you have some more input on that? Otherwise I will close this issue to clean up a bit.

[2022-07-04 18:02] Annoraaq commented on #278
@notchris  Can I close this issue?

[2022-07-04 19:05] Annoraaq opened #291 "Refactor CharacterAnimation"

[2022-07-04 19:31] Annoraaq opened #293 "Movement observables unsubscribe to early"

[2022-07-04 21:23] notchris commented on #278
@Annoraaq I think so - unless you want to wait for a PR with a method with this functionality. Or maybe add the fix to to the notes on the docs page for movement. What do you think?

[2022-07-04 21:24] notchris commented on #279
@Annoraaq Personally I think discord sparks more constant discussion around a topic. A lot of libraries have a discord channel so it's hard to say. Can we do some kind of poll or something, no one else has posted on this issue so I don't see a lot of support for the idea.

[2022-07-04 21:25] notchris commented on #281
@jonit-dev Forgot to mention, there is an official phaser3 chuck example in the sandbox, have you seen that?

[2022-07-05 04:32] jonit-dev commented on #281
@notchris Cool, I didn't know. I'll take a look.

For now, I'm taking a more straightforward approach of splitting the map into different zones and loading it only upon a transition. I'm using the compress-json library to save a copy locally and I compare client vs server hashes to verify if I need to update my map or not.

It's a temporary solution until I implement the chunk-based one, which I e

[2022-07-05 05:37] Annoraaq commented on #278
I would not fix this in GridEngine, because it seems to be a general Phaser feature (handling keypresses) and not grid movement related.

However, if this is a common problem we could add it to the docs. If not, I think this issue here is suffices as documentation of the solution.

[2022-07-05 05:41] Annoraaq commented on #279
We can also try it out and if it is not used we can still close it down again.

I think the community around GridEngine is still very small. So a poll might have too few total votes.

So feel free to create a channel if you want to.

[2022-07-05 20:02] Annoraaq commented on #293
fixed with 2.7.2

[2022-07-05 20:02] #293 closed

[2022-07-05 20:02] #287 closed

[2022-07-05 20:02] Annoraaq commented on #291
fixed with 2.17.2

[2022-07-05 20:02] #291 closed

[2022-07-06 18:00] Annoraaq opened #295 "Make GridCharacter independent of pixels"
Make GridCharacter independent of pixels and introduce a movement progress instead that can be translated into pixels. That makes it more independent from the rendering engine.

[2022-07-09 16:21] #295 closed

[2022-07-14 18:16] Annoraaq opened #297 "Make GridEngine server-ready"
Even though GridEngine started (and stays) a Phaser plugin, it should be more decoupled from Phaser.
The idea is to split it into a "headless" part that can be run on a server and is independent of Phaser (and pixel positions). The "Phaser-part" can then either use the headless part locally for games that only run on a client, or it can use some abstraction that communicates with a server  (for ex

[2022-07-14 18:18] #85 closed

[2022-07-16 15:46] Annoraaq commented on #229
I decided to introduce labels for characters in combination with allowing characters to be added without a sprite.

For the engine everything is a character, but there might be invisible (but potentially colliding) characters. In my opinion the labeling gives the user of GridEngine more flexibility.

Some example use cases:

Objects:
Add a colliding, non-animated char and give the label "object".

[2022-07-16 15:51] Annoraaq commented on #229
Closed with v.2.18.0

[2022-07-16 15:51] #229 closed

[2022-07-17 15:00] #263 closed

[2022-07-17 15:00] Annoraaq commented on #263
Will be part of next release

[2022-07-17 15:11] Annoraaq opened #301 "`moveTo` on blocked tile does not stop if no path was found"
See #210

[2022-07-18 17:38] Annoraaq opened #302 "NoPathFoundStrategy.STOP breaks PathBlockedStrategy.RETRY"
If NoPathFoundStrategy.STOP and PathBlockedStrategy.RETRY are set, then a `moveTo` will fail. Say the path is suddenly blocked by another character. Then PathBlockedStrategy.RETRY will try to find another path. If it does not, it should retry later. But it does not because it is then stopped by NoPathFoundStrategy.STOP.

[2022-07-20 17:22] Annoraaq commented on #301
Closed with v2.18.1

[2022-07-20 17:22] Annoraaq commented on #302
Closed with v2.18.1

[2022-07-20 17:22] #302 closed

[2022-07-24 10:49] Annoraaq commented on #216
Closed with v2.19.0

[2022-07-24 10:49] #216 closed

[2022-07-27 02:08] jonit-dev opened #306 "Grid engine failing to snap to grid after version >= 2.17.0"
Hey folks!

I'm creating a MMORPG here and this lib is one of my critical libs. My character suddenly stopped to snap to the grid after I was updating my dependencies about 2 days ago. It took me almost 8 hours to realize that this was because I had a:
[code]

  On my package.json, so yarn was automatically updating it to the latest version (2.19.0)

  Once I figured out the problem, I noticed tha

[2022-07-27 18:34] Annoraaq commented on #306
Is the issue, that the character is rendered with an offset? Or in other words: is only the pixel position wrong or also the tile position? And is the pixel position wrong by a constant value or does it change over time?

My first shot would be that there is something wrong with the offset.

If that is true, you could as a workaround (and alternative to falling back to an old version), play around

[2022-07-27 19:06] jonit-dev commented on #306
It's weird, because it's only a character thing. And I didn't specify an offset anywhere. Do the grid engine automatically specify one?

My items are aligning correctly, so I assume the tiles are being rendered fine

[2022-07-28 10:36] Annoraaq commented on #306
There is indeed a default offset given by GridEngine. However, it should not be different in the new version, so it seems to be a bug. I will have a closer look at this.

Thanks for pointing it out!

[2022-07-28 17:25] jonit-dev commented on #306
Cool, thanks for being proactive.

[2022-08-02 11:19] Annoraaq commented on #306
I just patched a bug related to the offset in v2.19.1.
Can you check, if that solves your problem?

[2022-08-04 06:20] jonit-dev commented on #306
@Annoraaq it seems to have solved. Thank you!

[2022-08-09 18:43] jesusMAes opened #309 "Issue with moving map"
When you create a tiled map and instead on render it in 0,0, moves that map to another position (in small maps to center the screen). Collisions didnt move with it and grid engine put the collision in the place that will be if map was rendered in 0,0 instead of in 100,50.
![colisions](https://user-images.githubusercontent.com/95760152/183736853-e329b89e-0243-4fd7-a9b3-3aff7bdb0a02.png)

[2022-08-10 18:21] Annoraaq commented on #309
Is there a specific reason why you need to move the tile map's rendering coordinates instead of centering the camera?

[2022-08-10 18:23] jesusMAes commented on #309
I wanna fit the game with a delimited canvas and just realised this morning that i can center the camera and use the zoom or even make black tiles surrounding the central zone to fit that.
Sorry for the irrelevant issue xd

[2022-08-10 18:23] #309 closed

[2022-08-10 18:25] Annoraaq commented on #309
No worries. Let me know if this becomes necessary for some reason. It would be possible to implement map offsets but it requires some changes.

[2022-08-10 18:37] #306 closed

[2022-08-10 18:37] Annoraaq commented on #250
Closed with v2.20.0

[2022-08-10 18:37] #250 closed

[2022-09-19 19:54] Raiper34 opened #313 "Animated tiles"
Hi, is it possible to add animated tiles? I have multiple object types in my game with animations (flame, doors, and teleports). I wonder if it is possible or not. Thanks for the answer.

[2022-09-19 19:55] Raiper34 commented on #279
I think gitter would be very nice for this :) Check this https://gitter.im/ only one minute setup :)

[2022-09-20 10:06] Annoraaq commented on #313
Hey, it should be no problem. It depends a bit on how you implement them because to my knowledge there is no out-of-the-box support in phaser tilemaps for that.
If you simply change the tile of the tilemap in regular intervals that should not be a problem.

You could also add animated sprites. Just be careful then with the z-index.

[2022-09-20 10:07] Annoraaq commented on #313
Hey, it should be no problem. It depends a bit on how you implement them because to my knowledge there is no out-of-the-box support in phaser tilemaps for that.
If you simply change the tile of the tilemap in regular intervals that should not be a problem.

You could also add animated sprites. Just be careful then with the z-index.

[2022-09-20 16:01] Raiper34 commented on #313
I implemented it using this approach https://medium.com/@junhongwang/tiled-generated-map-with-phaser-3-d2c16ffe75b6
Thanks for your awesome Grid engine, it is really a piece of diamond :)

[2022-10-02 11:17] Annoraaq commented on #313
Glad to hear it worked and that you like GridEngine! 👍

[2022-10-02 11:17] #313 closed

[2022-10-12 17:14] Annoraaq commented on #223
Multi-tile characters are now supported in v2.21.0. They can be activated with the [tileWidth](https://annoraaq.github.io/grid-engine/typedoc/interfaces/CharacterData.html#tileWidth) and [tileHeight](https://annoraaq.github.io/grid-engine/typedoc/interfaces/CharacterData.html#tileHeight) properties.

There are two new examples:

- [Multi tile move to](https://annoraaq.github.io/grid-engine/example

[2022-10-12 17:14] #223 closed

[2022-10-12 17:15] Annoraaq commented on #284
Closed due to inactivity.

[2022-10-12 17:15] #284 closed

[2022-10-19 15:16] Distortedlogic commented on #279
my vote would be discord. I find more package maintainers have discord servers than any other platform. NestJS actively tells u to avoid opening issues as the default n use their discord by default lol. less than 5% ive encountered use slack instead of discord.

[2022-10-19 16:17] Distortedlogic opened #315 "Importing breaks ems vs common; cannot find correct import for some methods"
Importing breaks ems vs common -

So in GridEngine package.json main is set to esm.min.js and this was breaking my app. I kept getting `SyntaxError: Unexpected token 'export'`

I am using NextJS react framework on the frontend with typescript. It seems after compilation the dev server expects the GridEgine package to be in commonJS, hence the error since `export` is an esm thing and not a commonjs

[2022-10-19 16:40] Distortedlogic commented on #315
Seems my work around doesnt completely resolve. After getting a bit further along, now I am getting `V is not a function
TypeError: V is not a function at eval (webpack-internal:///./node_modules/grid-engine/dist/GridEngine.min.js:4:3371)`

[2022-10-19 16:48] Distortedlogic commented on #315
I found the culprit for importing from grid-engine. Nextjs uses SSR which doesnt play well with grid-engine when import is performed server side. Using Nextjs dynamic importing, components using grid-engine are not rendered server side, which completely resolves.

I am still left with the other issue of how do i import methods like oppositeDirection?

[2022-10-19 17:08] Annoraaq commented on #279
I would still consider github issues to be the main location for issues, because it allows a more structured approach than a chat. However, I will open up a discord to allow for better discussions. I can't promise I will be too active there, but I guess one important point about community is that all users can communicate, so that won't be a problem.

[2022-10-19 17:30] Annoraaq commented on #315
Hey @Distortedlogic, so regarding your question about `oppositeDirection`. It is a method that is used internally by GridEngine and therefore not exported. Only the Direction enum from that file is exported, because it is needed to pass directions to exposed methods of GridEngine.

Generally I try to only make as few as possible methods part of the public interface of GridEngine. The reason for th

[2022-10-20 18:47] Distortedlogic commented on #279
I havent join their discord yet cause I havent quite ran into a blocker that demanded it yet. But given what u said, I would just use phaser plugin channel and refer users to it in docs n such. Noise seems like a small cost relative to increased community size and activity plus ease of work required on the maintainer. If community size every grows to size to warrant its own server then could be do

[2022-10-21 19:34] Annoraaq commented on #315
I am on the side working on a headless version of GridEngine that should run in node independent of Phaser. The idea is to allow a headless server version that smoothly communicates with the client version (still using phaser). But this is still in a very early stage. So no guarantee that this is going to come. But I will have to solve that node issue for this anyway. I will keep you up to date.

[2022-10-21 19:36] Annoraaq commented on #279
Sounds good. Maybe if I am in the mood some day I might create a discord server anyway. I think it is also a nice way for me to talk to the community. Announcements are easier. And also it might be a good way to ask for opinions (for feature prioritization for example).

[2022-10-22 10:36] Annoraaq commented on #279
So it did not took too long:

https://discord.gg/PEg2Y3qD

[2022-10-22 10:36] #279 closed

[2022-10-26 16:56] Annoraaq commented on #134
Closing this, because it can be achieved using [isPositionAllowedFn](https://annoraaq.github.io/grid-engine/typedoc/interfaces/MoveToConfig.html#isPositionAllowedFn). Also see this example: https://annoraaq.github.io/grid-engine/examples/pathfinding-restriction.html

[2022-10-26 16:56] #134 closed

[2022-10-31 17:44] Annoraaq opened #318 "Headless GridEngine"
Create a headless version of GridEngine.

That enables to run it on a server.
Furthermore we can then introduce the concept of renderers. Phaser would be a renderer, but also could be THREE.js.

[2022-11-13 06:36] Sinanaltundag opened #319 "using turnTowards with animation"
I am new so sorry if its answer simple
I want to turn character and I use "turnTowards" like this
`this.gridEngine.turnTowards("player", "up-left");`
I can see with `this.gridEngine.getFacingDirection( "player" )`  direction change but character don't turn to same direction on game.
I could not find any example so can anyone help me

[2022-11-13 09:45] Annoraaq commented on #319
Hey @Sinanaltundag, I recently found that to be a bug. I will provide a fix soon.

[2022-11-13 10:27] Annoraaq commented on #319
Should be fixed in (just released) version 2.21.1.

[2022-11-13 11:11] Sinanaltundag commented on #319
thanks for your support

[2022-11-13 11:50] Sinanaltundag opened #321 "turnTowards not working on "up-left", "down-right" etc."
firstly, thanks for last commit
turnTowards with normal directions works now "up" "left" etc
I am working on isometric map and cross directions not working like `this.gridEngine.turnTowards("player", "up-left");`
Can you help me

[2022-11-13 13:57] Annoraaq commented on #319
Oh sorry, I did not check that. Do you by any chance know if it is not working for diagonal directions (top-right, down-left, etc) on isometric maps only? Or are diagonal directions not working in general? If you are not sure, don't worry. I will have to check anyway.

[2022-11-13 13:58] Annoraaq commented on #321
Sure, I commented on the other bug: https://github.com/Annoraaq/grid-engine/issues/319#issuecomment-1312737266

[2022-11-13 14:19] Sinanaltundag commented on #319
I am not sure but only isometric map problem. because on isometric map any of directions not working

[2022-11-13 14:33] Sinanaltundag commented on #321
ok I close this issue, I follow the otherone

[2022-11-13 14:33] #321 closed

[2022-11-13 14:39] Annoraaq commented on #319
Did you base your code on one of the example for isometric movement ([8-direction isometric example](https://annoraaq.github.io/grid-engine/examples/8-directions-isometric.html), [isometric example](https://annoraaq.github.io/grid-engine/examples/isometric.html))?

If so, be aware that these examples use custom animations. That means that the animations are decoupled from GridEngine. That in turn

[2022-11-13 15:13] Sinanaltundag commented on #319
I use isometric example you are right, I understand problem. I try to create animation, I am newbie so it is hard for me, and if i success I share here.
thanks and if you have any detailed information you can share, I would be grateful

[2022-11-13 15:24] Sinanaltundag commented on #319
I success with this line as your help
`this.gridEngine.getSprite("player").setFrame(15);`
thanks again

[2022-11-13 16:16] Annoraaq commented on #319
You're welcome. Thanks for pointing out the bug!

I just released another patch 2.21.2. Now `directionChanged()` should also emit when you call `turnTowards()`. So you can adapt your animation like this:

[code]

as shown here:
https://annoraaq.github.io/grid-engine/examples/8-directions-isometric.html

[2022-11-13 16:17] #319 closed

[2022-11-13 18:03] Annoraaq opened #323 "directionChanged emits multiple times when walking against an obstacle"
`directionChanged` emits multiple times when walking against an obstacle or when calling `turnTowards` multiple times with the same direction.

It is probably better to only fire when the direction is different to the previous one.

[2022-11-16 08:33] Sinanaltundag opened #325 "moveTo not workink on isometric map"
I try to move character with moveTo function forexample:
`this.gridEngine.moveTo("player", {x:7 , y:4});`
when on an othogonal map command works properly but isometric map not works.

edit: character moves one or two times to random direction when function triggered
How can I use this command on isometric map?

[2022-11-16 15:23] Sinanaltundag opened #326 "when add text container, sprite goes under first tile"
title is not understandable may be, I add screenshots, I add text and container from grid-engine example page
![before](https://user-images.githubusercontent.com/87491141/202220928-fdf5288e-8bfa-40d8-aaac-c18b1c1aaea5.png)
![after](https://user-images.githubusercontent.com/87491141/202220934-3c26ba3e-765e-4269-bff4-15925dec13e9.png)

Can I fix from somewhere?

[2022-11-16 17:04] Annoraaq commented on #326
Can you provide more of your code?

For me it works when I merge the isometric example with the phaser container one:

https://codesandbox.io/s/sweet-moon-ipfokk?file=/src/index.js

[2022-11-16 17:09] Annoraaq commented on #325
Confirmed. I will look into it. Thanks for reporting.

[2022-11-16 18:03] Sinanaltundag commented on #326
thanks for help, I compare my codes and found my bugs marked =>
it fixed wihout these lines
[code]
I close issue, thanks again

[2022-11-16 18:03] #326 closed

[2022-11-17 18:33] Annoraaq commented on #326
Great you hear that you could solve this 👍

I can reproduce the issue though, if I pass the sprite additionally to the container. This is necessary if you do not use custom animations. So that might be a bug, but I did not look into it any further.

[2022-11-19 10:04] Annoraaq commented on #325
It should work again in v2.22.1.

[2022-11-19 10:04] #325 closed

[2022-11-20 06:57] Sinanaltundag commented on #325
thanks for help, it works

[2022-11-20 18:40] Annoraaq opened #329 "Expose `getTilePosInDirection()`"

[2022-11-20 18:42] Annoraaq opened #330 "Expose `getTilePosInDirection()`"
Export this method part of the public API, because it can simplify user code a lot.

[2022-11-24 05:43] Sinanaltundag opened #333 "Can be used turnTowards animation? additionally "setTexture" and "many steps" problems"
1- When call turnTowards function one after another, becauseof no promise, only last facingDirection can be seen on screen. can we add a turning animation?

2- And can I ask (I ask this at discussions but i think this can be a bug)
I use isometric game example so custom walking, and when I change spriteSheet with setTexture, only one frame can be seen. when start walking, character turn back old t

[2022-11-24 18:17] Annoraaq commented on #333
# Question 1

So when you want to use the built-in animations of GridEngine, then there is no turning animation. It will simply change to the "standing" frame of the corresponding direction. However, you can deactivate built-in animations by just **not** passing [walkingAnimationMapping](https://annoraaq.github.io/grid-engine/typedoc/interfaces/CharacterData.html#walkingAnimationMapping). You are

[2022-11-24 19:15] Sinanaltundag commented on #333
Thanks for this detailed answers.
For second question as you are right, I mean that may be a Phaser bug, but I do not know phaser details so ask here if any simple method in grid engine for solution and as you say I try to use 2 sprites

I will try all suggestions and turn back if success or not

[2022-11-25 18:13] Annoraaq commented on #329
Duplicate of #330

[2022-11-25 18:46] Sinanaltundag commented on #333
Your suggestion about straight move is success but I want to say a problem about "CLOSEST_REACHABLE"
I could not understand reason.
1- if target tile have collide "player" not move normally (i think)
2- if target is out of map "player" not move normally (i think)
3- if target tile has no collide and there is one tile has collide on path, "player move to collide on path and stop normally  (i think)

[2022-11-25 19:01] #329 closed

[2022-11-25 19:01] Annoraaq commented on #330
Done in version 2.23.0

[2022-11-25 19:01] #330 closed

[2022-11-27 12:07] Annoraaq opened #336 "CLOSEST_REACHABLE not working as expected"
https://annoraaq.github.io/grid-engine/typedoc/enums/NoPathFoundStrategy.html#CLOSEST_REACHABLE is not working as expected.

The problem lies within the implementation of the BidirectionalSerach algorithm for pathfinding.

[2022-11-27 12:08] Annoraaq commented on #333
I think it might be because of a bug that I recently discovered while trying to expose the pathfinding. There is a bug in the pathfinding algorithm implementation in combination with CLOSEST_REACHABLE. I will provide a fix soon. I created a bug, so you can track it (#336)

[2022-11-28 05:17] Sinanaltundag commented on #333
I try to setSprite about Question2 for your suggestion but I could not success
I load at preload func alternative sprite sheet like "player2"
then on event
[code]
but this add a new sprite, my character not change. It is possible I use wrong so
is there any example for change sprite

[2022-11-28 17:25] Annoraaq commented on #333
Can you provide more context? Just replacing the sprite works fine for me:
https://codesandbox.io/s/tender-wildflower-u7p6cc?file=/src/index.js

In that example, walk somewhere and press space. Then the sprite should be exchanged with one that has a different scaling so you can distinguish them.

[2022-11-28 19:45] Sinanaltundag commented on #333
thanks for sample code, I found my error reason that when I use "container" setSprite not working

[2022-11-29 18:19] Annoraaq commented on #333
I see. Providing a sprite and a container only makes sense if you want to use the build-in animation. Then the sprite is used for animation but the container has precedence for positioning.

I think we should be more specific about this in the docs. I added a todo.